@if (!isLoaded) {
  <div class="text-center justify-center text-gray-400">
    Loading...
  </div>
}

<main [class.hidden]="!isLoaded">

  <!--  SEARCH -->
  <section>
    <div class="top">
      <app-search-bar
        placeholder="Search games..."
        (search)="searchGames($event)">
      </app-search-bar>
    </div>
  </section>

  <section class="games">

    @for (game of storeResponse.content; track game) {
      <div class="card relative" (click)="goToGame(game.gameId)">
        <img [src]="getGameImageCover(game)" alt="{{game.title}}}">
        <div class="badges">
          @if (game.discountPercent! > 0) {
            <div
              class="badge discount-badge">- {{ game.discountPercent }} %
            </div>
          }
        </div>
        <h3>{{ game.title }}</h3>
        <p>
          @for (genre of game.genres?.slice(0, 2); track genre; let last = $last) {
            <span>
              {{ genre.name }}@if (!last) {
              <span>&nbsp; • &nbsp;</span>
            }
          </span>
        }
      </p>
      <div class="info">
        <div>
          123K <i class="fa-regular fa-thumbs-up text-white"></i>
        </div>
        @if (game.discountPercent! > 0) {
          <div class="price">
            <span class="current-price" [ngClass]="{'free-price' : game.discountPercent === 100}">{{
              game.discountPercent === 100
              ? 'Free'
              : game.discountPrice + ' €'
            }}</span>
            <div class="price-info">
              <span class="old-price"> {{ game.price }} €</span>
            </div>
          </div>
        }
        @if (!game.discountPercent || game.discountPercent <= 0) {
          <div class="price">
            <span class="current-price" [ngClass]="{'free-price' : game.price === 0}">{{
              game.price! > 0 ? (game.price + ' €') : 'Free'
            }} </span>
          </div>
        }
      </div>
    </div>
  }
</section>

</main>
