<main>
  <section>
    <div class="auth-page">
      <div class="auth-container forgot-container">
        <div class="auth-form">
          <img ngSrc="joystick.png" alt="GameHub Logo" class="logo" width="80" height="80"/>
          <h1>Forgot password?</h1>
          <p class="subtitle">Enter your email to receive a password reset link</p>
          <div *ngIf="errorMessage.length" class="error">
            <p *ngFor="let msg of errorMessage">{{ msg }}</p>
          </div>
          <form>
            <div class="input-group">
              <i class="fa-solid fa-envelope"></i>
              <input [(ngModel)]="authenticationRequest.email" type="email" name="email" id="email" placeholder="name@domain.com"/>
            </div>
            <button (click)="resetPassword()" type="submit"
                    class="login-btn">
              Send Email <i class="fa-solid fa-paper-plane"></i>
            </button>
            <p class="register-text">Remember ypur password?
            <button type="button" (click)="login()">
              Login
            </button>
            </p>
          </form>
        </div>

      </div>

    </div>
  </section>
</main>
