<div class="min-h-screen bg-gradient-to-b from-[#090C2D] to-[#1D2793] flex items-center justify-center p-4">

  <div class="w-full max-w-6xl flex flex-col md:flex-row overflow-hidden justify-center">

    <div class="w-full p-17 justify-center">
      <img ngSrc="joystick.png" alt="GameHub Logo" class="w-20 h-20 mx-auto mb-4" width="20" height="20"/>
      <h3 class="text-[2em] font-semibold text-white text-center mb-5">Enter your email to receive a password reset link</h3>

      <div *ngIf="errorMessage.length" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 text-center">
        <p *ngFor="let msg of errorMessage">{{ msg }}</p>
      </div>

      <form class="space-y-5 w-[25em] mx-auto">

        <div>
          <input [(ngModel)]="authenticationRequest.email" type="email" name="email" id="email" placeholder="name@domain.com"
                 class="form-control w-[25em] border rounded-[10px] px-3 py-2 focus:ring-transparent bg-transparent text-white" />
        </div>

        <div class="space-y-2">
          <button (click)="resetPassword()" type="submit"
                  class="w-full bg-[#1947C0] text-white rounded-[10px] py-2 hover:bg-blue-700 transition cursor-pointer">
            Send Email
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
