<main>

  <!--  SEARCH -->
  <section>
    <div class="top">
      <app-search-bar
        placeholder="Search games..."
        (search)="searchGames($event)">
      </app-search-bar>

      <app-user-actions/>
    </div>

  </section>

  <!-- FILTERS -->
  <section class="filter-bar">
    <div class="filter-header">
      <span>Filters</span>
      <button (click)="resetFilters()">Reset <i class="fa-solid fa-rotate-right text-sm"></i></button>
    </div>

    <div class="filter-options">

      <div class="dropdown">
        <label>Genre</label>
        <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="genreMenu" align="start">
          <span> {{ filters.genre || 'All Genres' }} </span>

          <i class="fa-solid fa-chevron-down text-xs"></i></button>

        <ng-template #genreMenu>
          <hlm-dropdown-menu>
            <button
              hlmDropdownMenuItem
              type="button"
              class="new-dropdown-option"
              (click)="filters.genre = ''; changeFilter()"
            >
              All Genres
            </button>

            @for (genre of allGenres; track genre) {
              <button
                hlmDropdownMenuItem
                class="new-dropdown-option"
                type="button"
                (click)="filters.genre = genre; changeFilter()">
                {{ genre }}
              </button>
            }
          </hlm-dropdown-menu>
        </ng-template>
      </div>


      <div class="dropdown">
        <label>Operation System</label>
        <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="osMenu" align="start">
          <span> {{ filters.operationSystem || 'All Systems' }} </span>

          <i class="fa-solid fa-chevron-down text-xs"></i></button>

        <ng-template #osMenu>
          <hlm-dropdown-menu>
            <button
              hlmDropdownMenuItem
              type="button"
              class="new-dropdown-option"
              (click)="filters.operationSystem = ''; changeFilter()">
              All Systems
            </button>

            @for (os of allOperationSystems; track os) {
              <button
                hlmDropdownMenuItem
                class="new-dropdown-option"
                type="button"
                (click)="filters.operationSystem = os; changeFilter()">
                {{ os }}
              </button>
            }
          </hlm-dropdown-menu>
        </ng-template>
      </div>

      <div class="dropdown">
        <label>Price</label>

          <button
            class="dropdown-button"
            type="button"
            [hlmDropdownMenuTrigger]="priceMenu"
            align="start"
          >
            <span>{{ selectedPriceLabel }}</span>
            <i class="fa-solid fa-chevron-down text-xs"></i>
          </button>

          <ng-template #priceMenu>
            <hlm-dropdown-menu>
              <button
                hlmDropdownMenuItem
                type="button"
                (click)="filters.maxPrice = ''; changeFilter()"
              >
                Any price
              </button>

              @for (priceOption of priceOptions; track priceOption) {
                <button
                  hlmDropdownMenuItem
                  type="button"
                  (click)="filters.maxPrice = priceOption.value; changeFilter()"
                >
                  {{ priceOption.label }}
                </button>
              }
            </hlm-dropdown-menu>
          </ng-template>
      </div>

      <div class="checkbox">
        <label>
          Discount
        </label>

        <input
          type="checkbox"
          id="discount-option"
          [(ngModel)]="filters.discount"
          (change)="changeFilter()"
          class="hidden peer">
        <label
          for="discount-option"
          class="checkbox-label">
          <div class="checkbox-content">
            <i class="fa-solid fa-tag"></i>
            <span>Discount</span>
          </div>
        </label>
      </div>
    </div>
  </section>

  @if (filteredGames.length === 0 && !isLoading) {
    <app-empty-state
      icon='fa-solid fa-gamepad'
      title="No games found"
      message="There are no games matching the selected filters.">
    </app-empty-state>
  }

  <!-- GAMES -->
  <section class="games-cards">
    @if (isLoading) {
      <app-loading/>
    }
    @for (game of filteredGames; track game) {
      <div class="card" (click)="goToGame(game.gameId)">
        <img [src]="getGameImageCover(game)" alt=""/>
        <div class="badges">
          <div class="small-badge trending">
            <i class="fa-solid fa-fire"></i>
            Trending
          </div>
          @if (game.discountPercent! > 0) {
            <div class="small-badge discount">
              -{{ game.discountPercent }} %
            </div>
          }
          @if (game.inLibrary) {
            <div class="small-badge owned">
              In Library <i class="fa-solid fa-gamepad mr-1"></i>
            </div>
          }
          @if (game.inWishList && !game.inLibrary) {
            <div
              class="small-badge wishlist">
              In Wishlist <i class="fa-solid fa-bookmark mr-1"></i>
            </div>
          }
        </div>
        <h3>
          {{ game.title }}
        </h3>
        <p>
          @for (genre of game.genres?.slice(0, 2); track genre; let last = $last) {
            <span>
            {{ genre.name }}@if (!last) {
              <span>&nbsp; • &nbsp;</span>
            }
        </span>
          }
        </p>
        <div class="info">
          <div>
            123K <i class="fa-regular fa-thumbs-up text-white"></i>
          </div>
          @if (game.discountPercent! > 0) {
            <div class="price">
          <span class="current-price" [ngClass]="{'free-price' : game.discountPercent === 100}">{{
              game.discountPercent === 100
                ? 'Free'
                : game.discountPrice + ' €'
            }}</span>
              <div class="price-info">
                <span class="old-price"> {{ game.price }} €</span>
              </div>
            </div>
          }
          @if (!game.discountPercent || game.discountPercent <= 0) {
            <div class="price">
          <span class="current-price" [ngClass]="{'free-price' : game.price === 0}">{{
              game.price! > 0 ? (game.price + ' €') : 'Free'
            }} </span>
            </div>
          }
        </div>
        @if (!game.inLibrary && !game.inCart) {
          <button class="big-button add-to-cart"
                  (click)="addToCart(game.gameId) ; $event.stopPropagation()">
            {{ game.price === 0 ? 'Add to Library' : 'Add to Cart' }}
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        }
        @if (game.inLibrary) {
          <button class="big-button in-library" (click)=" $event.stopPropagation() ">
            In Library <i class="fa-solid fa-gamepad"></i>
          </button>
        }
        @if (game.inCart) {
          <button class="big-button in-cart" (click)=" $event.stopPropagation() ">
            In Cart <i class="fa-solid fa-check"></i>
          </button>
        }
      </div>
    }
  </section>

  @if (filteredGames.length && gamePageResponse.totalPages! > 1) {
    <app-pagination
      [currentPage]="page"
      [totalPages]="gamePageResponse.totalPages!"
      (pageChange)="changePage($event)">
    </app-pagination>
  }

</main>
