<div class="flex flex-wrap  overflow-y-auto gap-x-10 gap-y-5">

  <div *ngFor="let game of gameResponse.content"
       class="relative w-90 h-60 rounded-lg shadow-lg overflow-hidden mb-5 cursor-pointer transform transition duration-300 hover:scale-105 hover:shadow-2xl"
       (click)="goToGame(game.gameId)">
    <img
      ngSrc="assets/game_images/elden_ring.jpg"
      alt="not found"
      class="w-full h-full object-cover"
      width="1" height="1"
    />
    <div class="absolute inset-0 bg-black/25"></div>
    <div class="absolute bottom-0 left-0 right-0 p-3">
      <h5 class="text-xl font-semibold text-white mb-1">{{ game.title }}</h5>

      <div class="flex justify-between items-center gap-2">
        <div class="flex gap-2">
    <span *ngFor="let genre of game.genres?.slice(0,2)"
          class="bg-[rgba(217,217,217,0.7)] rounded-[10px] px-2 py-1 w-fit text-sm">
      {{ genre.name }}
    </span>
        </div>
        <h5 class="text-xl font-semibold text-white text-sm">{{ game.price }} € </h5>
      </div>
    </div>
    <!--  <div class="relative w-90 h-60 rounded-lg shadow-lg overflow-hidden mb-5">-->
    <!--    <img-->
    <!--      ngSrc="assets/game_images/cyberpunk.jpg"-->
    <!--      alt="Elden Ring"-->
    <!--      class="w-full h-full object-cover"-->
    <!--      width="400" height="256"-->
    <!--    />-->
    <!--    <div class="absolute bottom-0 left-0 right-0 p-3">-->
    <!--      <h5 class="text-xl font-semibold text-white">Elden Ring</h5>-->
    <!--    </div>-->
    <!--  </div>-->
  </div>
</div>
