<div *ngIf="!isLoaded" class="text-center justify-center text-gray-400">
  Loading...
</div>

<div [class.hidden]="!isLoaded" class="relative w-full">
<div class="flex items-center gap-4 mb-2">

  <div class="relative inline-block">
    <select [(ngModel)]="filters.genre" (change)="filterGames()" class="appearance-none border border-gray-500 text-gray-300 bg-transparent hover:bg-gray-700/40 hover:text-white
           px-4 py-1.5 rounded-lg transition duration-300 mb-2 text-[13px] text-center cursor-pointer pr-8 w-[130px]">
      <option value="" class="bg-gray-800 text-gray-300">All Genres</option>
      <option *ngFor="let genre of allGenres" [value]="genre" class="bg-gray-800 text-gray-300">{{ genre }}</option>
    </select>
    <i
      class="fa-solid fa-chevron-down absolute right-3 top-1/2 -translate-y-[75%] text-gray-400 pointer-events-none"></i>
  </div>

  <div class="relative inline-block">
    <select [(ngModel)]="filters.platform" (change)="filterGames()" class="appearance-none border border-gray-500 text-gray-300 bg-transparent hover:bg-gray-700/40 hover:text-white
           px-4 py-1.5 rounded-lg transition duration-300 mb-2 text-[13px] text-center cursor-pointer pr-8 w-[150px]">
      <option value="" class="bg-gray-800 text-gray-300">All Platforms</option>
      <option *ngFor="let platform of allPlatforms" [value]="platform"
              class="bg-gray-800 text-gray-300">{{ platform }}
      </option>

    </select>
    <i
      class="fa-solid fa-chevron-down absolute right-3 top-1/2 -translate-y-[75%] text-gray-400 pointer-events-none"></i>
  </div>

  <div class="relative inline-block">
    <select [(ngModel)]="filters.maxPrice" (change)="filterGames()"
            class="appearance-none border border-gray-500 text-gray-300 bg-transparent hover:bg-gray-700/40 hover:text-white
           px-4 py-1.5 rounded-lg transition duration-300 mb-2 text-[13px] text-center cursor-pointer pr-8 w-[130px]"
    >
      <option value="" class="bg-gray-800 text-gray-300">Any Price</option>
      <option [value]="20" class="bg-gray-800 text-gray-300">≤ 20 €</option>
      <option [value]="50" class="bg-gray-800 text-gray-300">≤ $50 €</option>
      <option [value]="100" class="bg-gray-800 text-gray-300">≤ $100 €</option>
      <option [value]="101" class="bg-gray-800 text-gray-300">≥ 100 €</option>
    </select>

    <i
      class="fa-solid fa-chevron-down absolute right-3 top-1/2 -translate-y-[75%] text-gray-400 pointer-events-none"></i>
  </div>
  <div (click)="resetFilters()" class="relative flex items-center justify-center ml-6">
    <i class="fa-solid fa-rotate-right absolute right-3 top-1/2 -translate-y-[75%] text-gray-400 cursor-pointer"></i>
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 ">
  <div
    *ngFor="let game of filteredGames"
    (click)="goToGame(game.gameId)"
    class="group relative bg-[#0F172A] rounded-2xl overflow-hidden shadow-lg cursor-pointer transform transition duration-300 hover:scale-[1.04] hover:shadow-2xl"
  >
    <img
      [src]="getGameImageCover(game)"
      alt="Game cover"
      class="w-full h-[230px] object-cover transition duration-300 group-hover:opacity-100"
    />

    <div class="absolute inset-0 bg-gradient-to-t from-black/90 via-black/40 to-transparent"></div>

    <div class="absolute top-3 right-3 flex flex-col gap-2">
      <div
        *ngIf="gamesOwnedMap?.[game.gameId!]"
        class="bg-green-600/90 text-white text-xs font-semibold px-3 py-1 rounded-full shadow-md"
      >
        <i class="fa-solid fa-check mr-1"></i> Owned
      </div>

      <div
        *ngIf="gameWishListMap?.[game.gameId!] && !gamesOwnedMap?.[game.gameId!]"
        class="bg-pink-600/90 text-white text-xs font-semibold px-3 py-1 rounded-full shadow-md"
      >
        <i class="fa-solid fa-heart mr-1"></i> Wishlist
      </div>
    </div>

    <div
      class="absolute bottom-0 left-0 right-0 p-4 flex flex-col gap-2 bg-gradient-to-t from-black/85 via-black/40 to-transparent backdrop-blur-[1px]"
    >
      <h5
        class="text-lg font-bold text-white truncate transition"
      >
        {{ game.title }}
      </h5>

      <div class="flex justify-between items-center">
        <div class="flex gap-2">
          <span
            *ngFor="let genre of game.genres?.slice(0, 2)"
            class="bg-white/20 text-gray-200 rounded-md px-2 py-[3px] text-xs"
          >
            {{ genre.name }}
          </span>
        </div>

        <span class="text-zinc-300 font-semibold text-sm">
          {{ game.price }} €
        </span>
      </div>
    </div>
  </div>
</div>
</div>
