spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/game_hub_db
    username: game_hub_user
    password: game_hub_password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    schemas: game_hub
    locations: classpath:db/migration
    baseline-on-migrate: true
    default-schema: game_hub
    baseline-description: << Flyway Baseline >>
    baseline-version: 1
  jpa:
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: localhost
    port: 1025
    username: user
    password: password
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enable: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000

application:
    security:
      jwt:
        secret-key: 8RCVuS+MiDLugFF5pg88uhL7aXDhEm7AZIVWTUIy2f8=
        expiration: 86400000
    mailing:
      frontend:
        login-url: http://localhost:4200/login
    file:
      upload:
        image-cover-path: ./uploads

server:
  port: 8088