<div *ngIf="!isLoaded" class="text-center justify-center text-gray-400">
  Loading...
</div>

<div [class.hidden]="!isLoaded" class="relative w-full">
  <div class="flex items-center justify-between mb-3">

    <!-- Left buttons -->
    <div class="flex gap-3">
      <button *ngIf="!loadUsers" class="border border-gray-500 text-gray-300 hover:bg-gray-700/40 hover:text-white
px-4 py-1.5 rounded-lg transition duration-300 text-[13px]">
        Users
      </button>

      <button *ngIf="loadUsers" class="border border-emerald-500 text-emerald-400 bg-emerald-500/10
px-4 py-1.5 rounded-lg transition duration-300 text-[13px]">
        Users
      </button>

      <button
        class="border border-gray-500 text-gray-500 px-4 py-1.5 rounded-lg
         transition duration-300 text-[13px]
         opacity-60 flex items-center gap-2"
      >
        Groups
        <span class="text-[10px] bg-gray-700/60 px-2 py-0.5 rounded-md">Coming soon</span>
      </button>
    </div>


    <div class="relative w-1/3">
      <input
        #searchquery
        (keyup)="searchByUsername(searchquery.value)"
        type="text"
        id="query"
        class="block w-full pl-12 p-2.5 text-sm text-white bg-transparent rounded-lg placeholder-white border border-[#76849D]"
        placeholder="Search..."
        required
      />

      <div class="absolute left-0 top-0 h-full px-3 text-white flex items-center justify-center">
        <i class="fas fa-search"></i>
        <span class="sr-only">Search</span>
      </div>
    </div>

  </div>

  <!-- User list -->
  <div *ngFor="let user of userCommunityResponse.content"
       class="w-full mb-3 p-4 bg-black/30 rounded-2xl cursor-pointer hover:scale-101 transform-gpu transition duration-300">

    <div class="grid grid-cols-[250px_400px_400px_80px_auto] items-center gap-5"
         (click)="navigateToUser(user.userId)">

      <!-- Avatar -->
      <div class="w-[60px] flex justify-center">
        <img *ngIf="user.userProfilePicture"
             [src]="getProfilePicture(user)"
             class="w-14 h-14 rounded-lg border-2 border-black object-cover"/>
        <img *ngIf="!user.userProfilePicture"
             src="../../../../../assets/profilePicture/default_profile_picture.svg"
             class="w-14 h-14 rounded-lg border-2 border-black object-cover"
             [ngStyle]="{'background-color': user.profileColor}"/>
      </div>

      <!-- Username -->
      <p class="text-white font-semibold truncate max-w-[150px]">
        {{ user.username }}
      </p>

      <!-- Status -->
      <p class="text-gray-400 text-sm truncate" [ngClass]="{
      'text-green-500': user.status === 'ONLINE',
      'text-gray-400': user.status === 'OFFLINE',
      'text-yellow-400': user.status === 'AWAY'
      }">• {{ user.status }}
      </p>

      <!-- Location -->
      <div class="w-[80px] flex justify-center">
        <img [src]="user.location?.iconPath" class="w-12 h-8 rounded-lg"/>
      </div>

      <!-- Buttons -->
      <div class="flex gap-3 justify-end">
        <button *ngIf="friendsMap[user.userId!] && isLoaded" (click)="$event.stopPropagation()"
                class="flex items-center gap-2 px-3 py-2 bg-green-600
             text-white font-semibold rounded-lg shadow-md transition w-11 h-11">
          <i class="fa-solid fa-user-check"></i>
        </button>

        <button *ngIf="!friendRequestMap[user.userId!] && isLoaded && !friendsMap[user.userId!]"
                (click)="sendFriendRequest(user.userId!) ; $event.stopPropagation()"
                class="flex items-center gap-2 px-3 py-2 bg-green-600 hover:bg-green-700
             text-white font-semibold rounded-lg shadow-md transition min-w-[160px] justify-center cursor-pointer">
          Add Friend<i class="fa-solid fa-user-plus"></i>
        </button>

        <button *ngIf="friendRequestMap[user.userId!] && isLoaded"
                (click)="cancelFriendRequest(user.userId!) ; $event.stopPropagation()"
                class="flex items-center gap-2 px-3 py-2 bg-gray-500 hover:bg-gray-600
             text-white font-semibold rounded-lg shadow-md transition min-w-[160px] justify-center cursor-pointer">
          Cancel invite <i class="fa-solid fa-user-minus"></i>
        </button>

        <button (click)="reportUser(user.userId) ; $event.stopPropagation()"
                class="flex items-center gap-2 px-3 py-2 bg-red-600 hover:bg-red-700
             text-white font-semibold rounded-lg shadow-md transition w-11 h-11 justify-center cursor-pointer">
          <i class="fa-solid fa-exclamation"></i>
        </button>
      </div>

    </div>
  </div>

  <div *ngIf="noUsersFound" class="flex flex-col items-center justify-center h-60text-gray-400">
    <i class="fa-solid fa-sad-tear text-4xl mb-4"></i>
    <p class="text-lg font-semibold">No users were founded</p>
  </div>

</div>
