<div class="relative w-full">

  <input
    [value]="value"
    #searchQuery
    (keyup)="onSearch(searchQuery.value)"
    type="text"
    [placeholder]="placeholder"
    class="h-11 w-full rounded-lg border border-[#5A6B88] bg-[#1C2535]
    pl-10 pr-4 text-sm text-white placeholder:text-slate-400 shadow-[0_0_0_1px_#5A6B88]
    outline-none transition-all duration-200 hover:border-[#6B7DA0] hover:shadow-[0_0_0_1px_#6B7DA0]
    focus:border-blue-500 focus:shadow-[0_0_0_1px_#3B82F6] focus:ring-4 focus:ring-blue-500/15"
  />

</div>
