@layer components {

  .big-button {
    @apply items-center justify-center rounded-[8px] border-0 p-3
    text-white transition-colors w-[calc(100%-40px)] ml-5 mr-5;
  }

  .big-btn-w-full {
    @apply w-full p-[15px] transition-colors border-0 rounded-xl text-base cursor-pointer mt-3;
  }

  .medium-button {
    @apply h-10 flex items-center gap-2 px-4 py-2 rounded-[9px]
    text-white cursor-pointer transition duration-200 ease-in-out;
  }


  .filter-button {
    @apply flex items-center gap-2 px-4 py-2 rounded-[12px]
    text-white text-sm bg-[#151b27] border border-[#222B3D] hover:bg-[#1c2436] cursor-pointer transition duration-200 ease-in-out;

    &.open {
      @apply bg-[#16304D] text-[#B5D8FF] border border-[#4DA3FF];
    }
  }

  .small-button {
    @apply h-8 flex items-center gap-2 px-3 py-1 rounded-md
    text-white cursor-pointer transition duration-200 ease-in-out;
  }

  .icon-button {
    @apply w-10.5 h-10.5 rounded-xl flex items-center justify-center text-white text-[15px]
    transition-colors;
  }

  .tag-remove {
    @apply absolute -top-[6px] -right-[6px] w-[22px] h-[22px]
    border-0 rounded-full bg-[#dc2626] text-white cursor-pointer
    flex items-center justify-center text-[0.7rem]
    transition duration-200 hover:bg-[#b91c1c];
  }

  .close-btn {
    @apply border-0 bg-transparent text-[#9ca3af] text-[28px] cursor-pointer
    transition duration-200 ease-in-out
    hover:text-white hover:scale-110;
  }

  .tag-button {
    @apply rounded-lg border border-white/10 bg-[#151923] px-4 py-2 text-sm font-medium
    text-slate-300 transition-colors hover:border-white/25 hover:bg-[#1b2230] cursor-pointer;
  }

  .tag-button-filter {
    @apply w-fit rounded-full border border-white/10 bg-transparent px-4 py-2 text-sm font-medium
    text-slate-300 transition-colors hover:border-white/25 cursor-pointer;
  }

  .tag-button-selected {
    @apply border border-[#4DA3FF] text-[#4DA3FF] hover:border-[#4DA3FF] hover:text-[#4DA3FF];
  }

  .tag-button-selected {
    --platform-color: #4DA3FF;

    &.tag-pc       { --platform-color: #06B6D4; }
    &.tag-ps       { --platform-color: #0070D1; }
    &.tag-xbox     { --platform-color: #107C10; }
    &.tag-nintendo { --platform-color: #DF0011; }
    &.tag-mobile   { --platform-color: #A855F7; }

    color: var(--platform-color);
    border-color: var(--platform-color);

    i { color: var(--platform-color); }

    &:hover {
      color: var(--platform-color);
      border-color: var(--platform-color);
    }
  }

  .mic-tag {
    &.mic-yes      { --mic-color: #22C55E; }
    &.mic-optional { --mic-color: #F59E0B; }
    &.mic-no       { --mic-color: #F87171; }

    color: var(--mic-color);
    border: 1px solid var(--mic-color);

    i { color: var(--mic-color); }
  }

  .region-tag {

    &.region-europe          { --region-color: #6366F1; }
    &.region-na              { --region-color: #F97316; }
    &.region-sa              { --region-color: #A3E635; }
    &.region-asia            { --region-color: #EC4899; }
    &.region-africa          { --region-color: #EAB308; }
    &.region-me              { --region-color: #D97706; }
    &.region-oc              { --region-color: #14B8A6; }
    &.region-cab             { --region-color: #38BDF8; }

    &.tag-button-selected {
      color: var(--region-color);
      border-color: var(--region-color);

      &:hover {
        color: var(--region-color);
        border-color: var(--region-color);
      }

      i { color: var(--region-color); }
    }
  }

  .big-button:disabled,
  .big-btn-w-full:disabled,
  .medium-button:disabled,
  .small-button:disabled {
    @apply pointer-events-none opacity-50;
  }

  .review {
    @apply bg-[#2563eb] hover:bg-[#1447e6] cursor-pointer;
  }

  .add-to-cart {
    @apply bg-[#155dfc] hover:bg-[#1447e6] cursor-pointer;
  }

  .in-library {
    @apply cursor-default bg-[#093A3F] text-[#46ECD5];
  }

  .in-cart {
    @apply cursor-default bg-[#172554] text-[#60a5fa];
  }

  .gift {
    @apply bg-[#202938] text-white border border-[#394355]
    cursor-pointer hover:bg-[#2b3648];
  }

  .not-wishlist {
    @apply bg-[#202938] text-white border border-[#394355]
    cursor-pointer hover:bg-[#2b3648]
  }

  .download {
    @apply bg-[#3B82F6] hover:bg-[#2563EB] cursor-pointer;
  }

  .play {
    @apply bg-[#22C55E] hover:bg-[#16A34A] cursor-pointer;
  }

  .stop {
    @apply bg-[#f59e0b] hover:bg-[#d97706] cursor-pointer;
  }

  .is-friend {
    @apply bg-[#24313A] hover:bg-[#2D3C46] text-[#9CC7D4] hover:cursor-default;
  }

  .save {
    @apply bg-[#155dfc] hover:cursor-pointer hover:bg-[#1447e6];
  }

  .cancel {
    @apply bg-[#6e7988] hover:cursor-pointer hover:bg-[#4b5563];
  }

  .edit-profile {
    @apply border border-white/12 bg-white/6 text-white
    hover:bg-white/12;
  }

  .transparent {
    @apply flex items-center gap-2 px-4 py-2
    text-white border border-[#222B3D] hover:bg-[#1c2436] cursor-pointer transition duration-200 ease-in-out;
  }

}
