@layer components {

  .checkbox {
    @apply flex flex-col gap-2 text-xs text-[#E8ECF4] w-fit max-sm:w-full;
  }

  .checkbox-label {
    @apply flex items-center h-11 px-4 text-xs
    rounded-[10px]
    bg-[#151b27] cursor-pointer
    border border-[#222B3D]
    hover:bg-[#1c2436]
    peer-checked:border-[#4DA3FF]
    peer-checked:bg-[#16304D]
    peer-checked:[&_span]:text-[#B5D8FF]
    peer-checked:[&_i]:text-[#B5D8FF]
    transition duration-200 ease-in-out;

    & span {
      @apply text-sm text-[#E8ECF4];
    }

    & i {
      @apply text-[#E8ECF4];
    }
  }

  .checkbox-content {
    @apply flex items-center gap-2;
  }

}
