.free-price {
  @apply text-[#46d160];
}

.online {
  @apply text-green-500
}

.offline {
  @apply text-gray-400
}

.away {
  @apply text-yellow-400
}

.status-dot {
  @apply w-2 h-2 rounded-full bg-current;
}

.accept {
  @apply bg-[#123524] hover:bg-[#0E2B1D] cursor-pointer text-[#4ADE80];
}

.msg {
  @apply bg-[#39324A] hover:bg-[#493F5C] text-[#C9BCE8];
}

.send-friend-req {
  @apply bg-[#16304D] hover:bg-[#112B43] cursor-pointer text-[#4DA3FF];
}

.remove {
  @apply bg-[#4A2024] hover:bg-[#3B1A1D] cursor-pointer text-[#FCA5A5];
}

.report {
  @apply bg-[#2A1C22] hover:bg-[#352129] text-[#F87171] cursor-pointer;
}

.cancel-friend {
  @apply bg-[#3A2E10] hover:bg-[#4A3A14] cursor-pointer text-[#FBBF24];
}

.discount {
  @apply bg-[#00a63e];
}

.top {
  @apply flex items-center gap-5 w-full min-w-0 box-border justify-between;
}

.top-end {
  @apply flex items-center gap-5 w-full min-w-0 box-border justify-end;
}

.header {
  @apply flex justify-between items-start;
}

.header > div:first-child {
  @apply flex flex-col gap-1;
}

.header h1{
  @apply text-[1.9rem];
}

.search {
  @apply mt-3.75 mb-5;
}

.page-description {
  @apply text-[#777];
}

.about-icon {
  color: #A78BFA;
}

.recently-played-icon {
  color: #60A5FA;
}

.favorite-game-icon {
  color: #F472B6;
}

.badges-icon {
  color: #FBBF24;
}

.genres-icon {
  color: #34D399;
}

.friends-icon {
  color: #22D3EE;
}

.groups-icon {
  color: #FB923C;
}

.looking-for-icon {
  color: #C084FC;
}

.wishlist-icon {
  color: #F87171;
}

.wishlist {
  &:hover {
    cursor: pointer;
  }
}

.friends {
  &:hover {
    cursor: pointer;
  }
}

.nothing-to-show {
  color: rgba(255, 255, 255, 0.45);
}
