<main>

  <section class="mb-5">
    <div class="header">
      <div>
        <h1>Settings</h1>
        <p class="page-description">Manage your account settings and preferences</p>
      </div>
      <app-user-actions/>
    </div>
  </section>

  <hlm-tabs tab="profile" activationMode="manual" class="w-full !gap-0" (brnTabsChange)="onTabChange($event)">
    <hlm-tabs-list aria-label="tabs example" variant="line">
      <button hlmTabsTrigger="profile"><i class="fa-solid fa-user"></i> Profile</button>
      <button hlmTabsTrigger="privacy"><i class="fa-solid fa-lock"></i> Privacy</button>
      <button hlmTabsTrigger="community"><i class="fa-solid fa-comment"></i> Community</button>
      <button hlmTabsTrigger="store"><i class="fa-solid fa-store"></i>Store</button>
      <button hlmTabsTrigger="gaming"><i class="fa-solid fa-gamepad"></i>Gaming</button>
      <button hlmTabsTrigger="account"><i class="fa-solid fa-bell"></i>Notifications</button>
      <button hlmTabsTrigger="account"><i class="fa-solid fa-triangle-exclamation"></i>Account</button>
    </hlm-tabs-list>
    <div hlmTabsContent="profile">
      <h2 class="text-xl font-semibold text-white"><i class="fa-solid fa-user"></i> Profile</h2>
      <p class="mt-1 text-sm text-gray-400">Manage your profile information and appearance</p>


      <section class="relative mt-4 banner-photo">

        <div class="h-40 rounded-t-xl bg-[#151B27] border-t border-x border-[#2A3445]">
          <img
            [src]="getBanner(response)"
            class="h-full w-full rounded-t-xl object-cover"
          />
        </div>

        <div class="relative h-20 bg-[#151B27] rounded-b-xl border-b border-x border-[#2A3445]">
          @if (response.userProfilePicture) {
            <img
              [src]="'data:image/jpeg;base64,' + response.userProfilePicture"
              class="absolute left-[35px] top-[-35px] h-25 w-25 rounded-[18px] border-3 border-[#151B27] object-cover"
            />
          }

          @if (!response.userProfilePicture) {
            <img
              src="../../../../../assets/profilePicture/default_profile_picture.svg"
              class="mt-4 h-24 w-24 rounded-xl object-cover border-2 border-[#2A3445]"
              [ngStyle]="{'background-color': response.profileColor}"/>
          }
          <div class="absolute left-[150px] right-5 h-full flex items-center justify-between">
            <div>
              <h2 class="text-xl font-semibold text-white">
                {{ response.userName }}
              </h2>
              <p class="text-base text-gray-400">
                Member since {{ response.joinedDate }}
              </p>
            </div>

            <div class=" flex justify-center gap-2">

              <div class="medium-button edit-profile border-none hover:!cursor-default hover:!bg-white/6">
                <img
                  [src]="response.country?.iconPath"
                  [alt]="response.country?.countryName"
                  class="w-7 rounded-[5px]"/>

                <span class="text-white"> {{ response.country?.countryName }} </span>
              </div>

              <button class="medium-button edit-profile">
                <i class="fa-solid fa-pen"></i> Edit
<!--           dont forget colorId of cards     -->
              </button>

            </div>
          </div>
        </div>
      </section>

      <section class="grid grid-cols-[2fr_3fr] gap-10">
        <section class="basic-info">
          <div class="mt-6 overflow-hidden rounded-lg border border-[#252b36] bg-[#151B27]">
            <div class="border-b border-[#252b36] px-5 py-4">
              <div class="flex justify-between">
                <h3 class="text-base font-medium text-white">Account details</h3>
                <div class="flex gap-2">
                  @if (!editBasicInfo) {
                    <button class="small-button edit-profile" (click)="editBasicInfo=true"><i
                      class="fa-solid fa-pen"></i>Edit
                    </button>
                  }
                  @if (editBasicInfo) {
                    <button class="small-button cancel" (click)="cancelEdit()">Cancel</button>
                    <button class="small-button save" [disabled]="!hasProfileInfoChanges()" (click)="saveBasicInfo()">Save changes</button>
                  }
                </div>
              </div>
            </div>

            <div class="flex items-center justify-between px-5 py-2">
              <div class="flex gap-2">
                <span class="text-sm font-bold text-gray-400">Username</span>
                <button [hlmTooltip]="'This is how other people see you'" aria-label="Info"
                        size="icon-xs" class="hover:bg-transparent text-gray-400 hover:text-[#737373]"><i
                  class="fa-solid fa-info-circle"></i></button>
              </div>
              <div class="flex gap-2">
                @if (userRequest.username !== response.userName) {
                  <button hlmTooltip="This value was changed" class="text-amber-400"><i
                    class="fa-solid fa-info-circle"></i></button>
                }
                <hlm-input-group class="hlm-input-group !gap-0 transition-colors duration-200">
                  <input
                    [readonly]="!editBasicInfo"
                    autocomplete="off"
                    tabindex="-1"
                    hlmInputGroupInput
                    id="userName"
                    type="text"
                    name="username"
                    [(ngModel)]="userRequest.username"
                    class="input"
                    [class.bg-[#1e2635]]="editBasicInfo" [class.bg-transparent]="!editBasicInfo"
                  />
                </hlm-input-group>
              </div>


            </div>

            <div class="border-t border-[#252b36]"></div>
            <div class="flex items-center justify-between px-5 py-2">
              <span class="text-sm font-bold text-gray-400">First name</span>
              <div class="flex gap-2">
                @if (userRequest.firstName !== response.firstName) {
                  <button hlmTooltip="This value was changed" class="text-amber-400"><i
                    class="fa-solid fa-info-circle"></i></button>
                }
                <hlm-input-group class="hlm-input-group !gap-0">
                  <input
                    [readonly]="!editBasicInfo"
                    autocomplete="off"
                    tabindex="-1"
                    hlmInputGroupInput
                    id="firstName"
                    type="text"
                    name="firstName"
                    [(ngModel)]="userRequest.firstName"
                    class="input"
                    [class.bg-[#1e2635]]="editBasicInfo" [class.bg-transparent]="!editBasicInfo"
                  />
                </hlm-input-group>
              </div>
            </div>

            <div class="border-t border-[#252b36]"></div>
            <div class="flex items-center justify-between px-5 py-2">
              <span class="text-sm font-bold text-gray-400">Last name</span>
              <div class="flex gap-2">
                @if (userRequest.lastName !== response.lastName) {
                  <button hlmTooltip="This value was changed" class="text-amber-400"><i
                    class="fa-solid fa-info-circle"></i></button>
                }
                <hlm-input-group class="hlm-input-group !gap-0">
                  <input
                    [readonly]="!editBasicInfo"
                    autocomplete="off"
                    tabindex="-1"
                    hlmInputGroupInput
                    id="lastName"
                    type="text"
                    name="lastName"
                    [(ngModel)]="userRequest.lastName"
                    class="input"
                    [class.bg-[#1e2635]]="editBasicInfo" [class.bg-transparent]="!editBasicInfo"
                  />
                </hlm-input-group>
              </div>
            </div>

            <div class="border-t border-[#252b36]"></div>
            <div class="flex items-center justify-between px-5 py-2">
              <span class="text-sm font-bold text-gray-400">Email</span>
              <div class="flex gap-2">
                @if (userRequest.email !== response.email) {
                  <button hlmTooltip="After changing your email, you will need to log in with your new email address."
                          class="text-red-500"
                          aria-label="Email change warning"><i
                    class="fa-solid fa-info-circle"></i></button>
                }
                @if (editBasicInfo) {
                  <hlm-input-group class="hlm-input-group !gap-0">
                    <input
                      [readonly]="!editBasicInfo"
                      autocomplete="off"
                      tabindex="-1"
                      hlmInputGroupInput
                      id="email"
                      type="email"
                      name="email"
                      [(ngModel)]="userRequest.email"
                      class="input !text-right"
                      [class.bg-[#1e2635]]="editBasicInfo" [class.bg-transparent]="!editBasicInfo"
                      [class.!w-[200px]]="editBasicInfo"
                      [class.cursor]="editBasicInfo"
                      [class.!max-w-[300px]]="!editBasicInfo"
                    />
                  </hlm-input-group>
                } @else {
                  <span class="flex h-[32px] items-center px-2.5 py-1">{{response.email}}</span>
                }

              </div>
            </div>

            <div class="border-t border-[#252b36]"></div>
            <div class="flex !h-[57px] items-center justify-between px-5 py-2">
              <span class=" text-sm font-bold text-gray-400">Country</span>
              @if (!editBasicInfo) {
                <div class="flex items-center gap-3 px-3 py-2.5">
                  <img
                    [src]="response.country?.iconPath"
                    [alt]="response.country?.countryName"
                    class="w-7 rounded-[5px]"/>
                  <span class="text-white"> {{ response.country?.countryName }} </span>
                </div>
              }

              @if (editBasicInfo) {
                <div class="dropdown">
                  <button
                    class="dropdown-button"
                    type="button" [hlmDropdownMenuTrigger]="countryMenu"
                    align="start">

                    @if (getSelectedCountry(); as country) {
                      <img
                        [src]="country.iconPath"
                        [alt]="country.countryName"
                        class="w-6 rounded-[4px]"
                      />

                      <span class="max-w-[140px] truncate"> {{ country.countryName }}</span>
                    } @else {
                      <span>Select country</span>
                    }
                    <i class="fa-solid fa-chevron-down text-xs"></i></button>

                  <ng-template #countryMenu>
                    <hlm-dropdown-menu>
                      @for (country of allCountries; track country) {
                        <button
                          hlmDropdownMenuItem
                          type="button" (click)="selectCountry(country)">
                          <div class="flex items-center gap-2">
                            <img [src]="country.iconPath"
                                 [alt]="country.countryName"
                                 class="w-6 rounded-[4px]">
                          </div>
                          <span class="max-w-[140px] truncate">{{ country.countryName }}</span>
                        </button>
                      }
                    </hlm-dropdown-menu>
                  </ng-template>
                </div>
              }


            </div>
          </div>
        </section>

        <section class="right-side gap-y-3">
          <section class="about-me">
            <div class="mt-6 overflow-hidden rounded-lg border border-[#252b36] bg-[#151B27]">
              <div class=" border-[#252b36] px-5 py-4">
                <h3 class="text-base font-medium text-white">About me</h3>
              </div>
              <div class="border-t border-[#252b36]"></div>
              <div class=" border-[#252b36] px-5 py-4">
                <h3 class="text-base font-medium text-gray-400">{{ response.bio }}</h3>
              </div>
            </div>
          </section>

          <section class="about-me">
            <div class="mt-6 overflow-hidden rounded-lg border border-[#252b36] bg-[#151B27]">
              <div class=" border-[#252b36] px-5 py-4">
                <h3 class="text-base font-medium text-white">About me</h3>
              </div>
              <div class="border-t border-[#252b36]"></div>
              <div class=" border-[#252b36] px-5 py-4">
                <h3 class="text-base font-medium text-gray-400">{{ response.bio }}</h3>
              </div>
            </div>
          </section>

        </section>


      </section>

      <div class="mt-4 grid grid-cols-1 gap-6 md:grid-cols-2">
        <div class="middle">
          <div>
            <h3 class="text-base font-medium text-gray-300">About me</h3>
            <textarea hlmTextarea [(ngModel)]="response.bio" class="w-100 mt-3 resize-none cursor-default" readonly
                      (mousedown)="$event.preventDefault()"
                      placeholder="Write something about yourself..."></textarea>
          </div>

          <div class="mt-8">
            <h3 class="text-base font-medium text-gray-300">Favorite game</h3>
            <div class="pinned-game mt-2">
              <div class="pinned-game-cover">
                <img [src]="'data:image/jpeg;base64,' + response.favoriteGame?.gameCoverImage"
                     alt="{{response.favoriteGame}}}">
              </div>
              <div class="pinned-game-info">
                <span class="pinned-game-label"> Pinned Game <i class="fa-solid fa-thumbtack"></i></span>
                <h1>{{ response.favoriteGame?.title }}</h1>
                <span class="pinned-game-description">This game is displayed on your profile</span>
              </div>
            </div>
          </div>

          <div class="mt-8">
            <h3 class="text-base font-medium text-gray-300">Favorite genres</h3>
            <div class="flex flex-wrap gap-2 mt-[14px]">
              @for (genre of response.favoriteGenres; track genre) {
                <span class="px-[11px] py-[7px] rounded-[7px] bg-white/7 text-white/80 text-xs
      transition duration-200 ease-in-out hover:bg-white/11 hover:text-white">
                          {{ genre.name }}
                        </span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div hlmTabsContent="privacy">
      <h2 class="text-xl font-semibold text-white"><i class="fa-solid fa-lock"></i> Privacy</h2>
      <p class="mt-1 text-sm text-gray-400">Control who can see your information and activity</p>

      <div class="mt-6 overflow-hidden rounded-lg border border-[#252b36] bg-[#151B27]">
        <div class="border-b border-[#252b36] px-5 py-4">
          <h3 class="text-base font-medium text-white">Visibility</h3>
          <p class="mt-1 text-sm text-gray-400">Choose who can see different parts of your profile</p>
        </div>

        <div class="divide-y divide-[#252b36]">
          @for (setting of privacySettingsResponse; track setting.settingId) {
            <div class="flex items-center justify-between px-5 py-4">
              <div>
                <h4 class="text-sm font-medium text-white">{{ setting.settingName }}</h4>
                <p class="mt-1 text-sm text-gray-400">{{ setting.description }}</p>
              </div>

              <div class="flex items-center gap-2">
                @if (isPrivacySettingsChanged(setting)) {
                  <button
                    hlmInputGroupButton
                    class="hover:!bg-transparent !text-amber-400"
                    [hlmTooltip]="'This value was changed'"
                    aria-label="Info"
                    size="icon-xs"
                  >
                    <i class="fa-solid fa-info-circle"></i>
                  </button>
                }

                <div class="dropdown-small fit">
                  <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="privacy"
                          align="start"><span>{{ setting.access }}</span> <i
                    class="fa-solid fa-chevron-down text-xs"></i>
                  </button>

                  <ng-template #privacy>
                    <hlm-dropdown-menu class="fit">
                      <button hlmDropdownMenuItem [class.selected]="setting.access === 'Everyone'"
                              (click)="setting.access = 'Everyone'">Everyone
                      </button>
                      <button hlmDropdownMenuItem [class.selected]="setting.access === 'Friends'"
                              (click)="setting.access = 'Friends'">Friends
                      </button>
                      <button hlmDropdownMenuItem [class.selected]="setting.access === 'No one'"
                              (click)="setting.access = 'No one'">No one
                      </button>
                    </hlm-dropdown-menu>
                  </ng-template>
                </div>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="flex justify-end mt-6">
        <button class="medium-button !bg-[#155dfc] !text-white !border-0" (click)="savePrivacySettings()"
                [disabled]="!hasPrivacyChanges()">Save
        </button>
      </div>

    </div>
    <div hlmTabsContent="community">
      <h2 class="text-xl font-semibold text-white"><i class="fa-solid fa-comment"></i> Community</h2>
      <p class="mt-1 text-sm text-gray-400">Manage who can interact with you and send you invitations</p>

      <div class="mt-6 overflow-hidden rounded-lg border border-[#252b36] bg-[#151B27]">
        <div class="border-b border-[#252b36] px-5 py-4">
          <h3 class="text-base font-medium text-white">Interactions</h3>
          <p class="mt-1 text-sm text-gray-400">hoose who can send you requests, invitations, and messages</p>
        </div>

        <div class="divide-y divide-[#252b36]">
          @for (setting of communitySettingsResponse; track setting.settingId) {
            <div class="flex items-center justify-between px-5 py-4">
              <div>
                <h4 class="text-sm font-medium text-white">{{ setting.settingName }}</h4>
                <p class="mt-1 text-sm text-gray-400">{{ setting.description }}</p>
              </div>

              <div class="flex items-center gap-2">
                @if (isCommunitySettingsChanged(setting)) {
                  <button
                    hlmInputGroupButton
                    class="hover:!bg-transparent !text-amber-400"
                    [hlmTooltip]="'This value was changed'"
                    aria-label="Info"
                    size="icon-xs"
                  >
                    <i class="fa-solid fa-info-circle"></i>
                  </button>
                }

                <div class="dropdown-small fit">
                  <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="community"
                          align="start"><span>{{ setting.access }}</span> <i
                    class="fa-solid fa-chevron-down text-xs"></i>
                  </button>

                  <ng-template #community>
                    <hlm-dropdown-menu class="fit">
                      <button hlmDropdownMenuItem [class.selected]="setting.access === 'Everyone'"
                              (click)="setting.access = 'Everyone'">Everyone
                      </button>
                      @if (setting.settingName !== 'Friend Requests') {
                        <button hlmDropdownMenuItem [class.selected]="setting.access === 'Friends'"
                                (click)="setting.access = 'Friends'">Friends
                        </button>
                      }
                      <button hlmDropdownMenuItem [class.selected]="setting.access === 'No one'"
                              (click)="setting.access = 'No one'">No one
                      </button>
                    </hlm-dropdown-menu>
                  </ng-template>
                </div>
              </div>
            </div>
          }
        </div>

      </div>

      <div class="flex justify-end mt-6">
        <button class="medium-button !bg-[#155dfc] !text-white !border-0" (click)="saveCommunitySettings()"
                [disabled]="!hasCommunityChanges()">Save
        </button>
      </div>

    </div>
    <div hlmTabsContent="store">
      <h2 class="text-xl font-semibold text-white"><i class="fa-solid fa-store"></i> Store</h2>
      <p class="mt-1 text-sm text-gray-400">Control which age-rated games are shown in your store</p>

      <div class="mt-6 overflow-hidden rounded-lg border border-[#252b36] bg-[#151B27]">
        <div class="border-b border-[#252b36] px-5 py-4">
          <h3 class="text-base font-medium text-white">Content restrictions</h3>
          <p class="mt-1 text-sm text-gray-400">Choose which PEGI-rated games can appear in your store</p>
        </div>

        <div class="divide-y divide-[#252b36]">
          @for (setting of storeSettingsResponse; track setting.settingId) {
            <div class="flex items-center justify-between px-5 py-4">
              <div>
                <h4 class="text-sm font-medium"
                    [ngClass]="getPegiColor(setting.pegiRatingName)">{{ setting.pegiRatingName }}</h4>
                <p class="mt-1 text-sm text-gray-400">{{ setting.description }}</p>
              </div>

              <div class="flex items-center gap-2">
                @if (isStoreSettingsChanged(setting)) {
                  <button
                    hlmInputGroupButton
                    class="hover:!bg-transparent !text-amber-400"
                    [hlmTooltip]="'This value was changed'"
                    aria-label="Info"
                    size="icon-xs"
                  >
                    <i class="fa-solid fa-info-circle"></i>
                  </button>
                }

                <hlm-switch
                  id="pegiRating"
                  name="pegiRating"
                  [(ngModel)]="setting.disabled"
                  class=" !transition-none"/>

              </div>
            </div>
          }
        </div>
      </div>

      <div class="flex justify-end mt-6">
        <button class="medium-button !bg-[#155dfc] !text-white !border-0" (click)="saveStoreSettings()"
                [disabled]="!hasStoreChanges()">Save
        </button>
      </div>

    </div>
    <div hlmTabsContent="gaming">
      <h2 class="text-xl font-semibold text-white"><i class="fa-solid fa-gamepad"></i> Gaming</h2>
      <div>
        Favorite game
        Multiplayer preference
        Looking for:
        Casual players
        Competitive players
        Co-op
        etc.
        Player type
        Gaming tags
        Favorite genres
      </div>
    </div>
    <div hlmTabsContent="account">
      <h2 class="text-xl font-semibold text-white"><i class="fa-solid fa-triangle-exclamation"></i> Account </h2>
      <div>
        Change password
        Suspend account
        Delete account
      </div>

    </div>
  </hlm-tabs>

  <hlm-dialog #warningDialog>
    <hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:max-w-md">

      <hlm-dialog-header>
        <h3 hlmDialogTitle>
          Unsaved {{ unsavedChangesTitle }} changes
        </h3>

        <p hlmDialogDescription class="mt-2">
          You have unsaved changes. Would you like to save them before leaving?
        </p>
      </hlm-dialog-header>

      <hlm-dialog-footer class="mt-6 flex items-center !justify-between">

        <button
          (click)="discardChanges()"
          type="button"
          hlmDialogClose
          class="medium-button cancel">
          Discard
        </button>

        <div class="flex gap-3">
          <button
            type="button"
            hlmDialogClose
            class="medium-button cancel">
            Cancel
          </button>

          <button
            type="button"
            class="medium-button save"
            (click)="saveChanges()">
            Save changes
          </button>
        </div>

      </hlm-dialog-footer>

    </hlm-dialog-content>
  </hlm-dialog>

</main>
