<app-playing-warning-modal
  *ngIf="cannotUninstallModalOpen"
  [game]="currentlyPlayingGame!"
  [title]="'You are playing a game'"
  [description]="'Please stop the game before uninstalling it.'"
  (stoppedPlayingGame)="gameStopped()"
  (close)="closeModal()"/>

<app-playing-warning-modal
  *ngIf="userIsPlayingGame"
  [game]="currentlyPlayingGame!"
  [title]="'You are already playing a game'"
  [description]="'Stop your current game before starting another one.'"
  (stoppedPlayingGame)="gameStopped()"
  (close)="closeModal()"/>

<app-user-actions class="top-game-details"/>

<main>

  <section class="game">

    <app-loading *ngIf="isLoading"/>

    <section *ngIf="!isLoading">

      <section class="hero">
        <img
          [src]="getGameImageCover(gameResponse)"
          alt="Game cover"
          class="hero-image"
        />
        <div class="overlay"></div>
        <div class="hero-content">
          <h1>{{ gameResponse.title }}</h1>
          <div class="tags">
         <span *ngFor="let genre of gameResponse.genres">
      {{ genre.name }}
        </span>
            <span [ngStyle]="{'background-color': gameResponse.ageRating?.ageRatingColor}">
      {{ gameResponse.ageRating?.ageRating }} </span>
          </div>
        </div>
      </section>

      <section class="main-grid">
        <div class="description game-info-card">
          <h2>About this game</h2>
          <p>
            {{ gameResponse.description }}
          </p>
        </div>
        <div class="game-info-card">
          <h2>{{ gameResponse.title }}</h2>
          <div class="game-details">
            <div>
              <span>Developer</span>
              <b>{{ gameResponse.developer }}</b>
            </div>

            <div>
              <span>Publisher</span>
              <b>{{ gameResponse.publisher }}</b>
            </div>

            <div>
              <span>Release Date</span>
              <b>{{ gameResponse.releaseYear | date:'dd.MM.yyyy' }}</b>
            </div>
          </div>

          <div class="game-actions-container">
            <div class="game-actions-row">

              <button class="big-btn-w-full download" *ngIf="!gameResponse.installed" (click)="downloadGame(gameResponse)">
                Download
                <i
                  class="fa-solid fa-download"></i></button>
              <button *ngIf="!gameResponse.currentlyPlaying && gameResponse.installed" class="big-btn-w-full play"
                      (click)="playGame(gameResponse)">
                Play <i class="fa-solid fa-play"></i>
              </button>
              <button *ngIf="gameResponse.currentlyPlaying" class="big-btn-w-full stop"
                      (click)="stopPlayingGame(gameResponse)">
                Stop playing <i class="fa-solid fa-stop"></i>
              </button>
              <button class="big-btn-w-full not-wishlist" *ngIf="!gameResponse.favorite" (click)="addGameToFavorite(gameResponse)"><i
                class="fa-regular fa-heart"></i>
              </button>
              <button class="big-btn-w-full remove" *ngIf="gameResponse.favorite"
                      (click)="removeGameFromFavorite(gameResponse)"><i
                class="fa-solid fa-heart"></i></button>

            </div>


            <hr *ngIf="gameResponse.installed">
            <button class="big-btn-w-full remove" *ngIf="gameResponse.installed" (click)="uninstallGame(gameResponse)">
              Uninstall <i
              class="fa-solid fa-trash-can"></i></button>

          </div>

        </div>

      </section>
    </section>
  </section>
</main>
