<div class="min-h-screen flex items-center justify-center bg-gray-100">
<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 login-container" role="alert">
  <h3 class="text-center">
    Login
  </h3>
  <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <span class="font-medium">Info alert!</span> Change a few things up and try submitting again.
  </div>

</div>
</div>

<router-outlet/>


