<aside class="admin-sidebar">
  <div class="admin-logo">
    <span>GameHub Admin</span>
  </div>

  <nav class="admin-menu">
    <a class="menu-item active">
      <i class="fa-solid fa-chart-line"></i>
      <span>Dashboard</span>
    </a>

    <a class="menu-item">
      <i class="fa-solid fa-gamepad"></i>
      <span>Games</span>
    </a>

    <a class="menu-item">
      <i class="fa-solid fa-users"></i>
      <span>Users</span>
    </a>

    <a class="menu-item">
      <i class="fa-solid fa-flag"></i>
      <span>Reports</span>
    </a>

    <a class="menu-item">
      <i class="fa-solid fa-tags"></i>
      <span>Genres</span>
    </a>

    <a class="menu-item">
      <i class="fa-solid fa-comments"></i>
      <span>Reviews</span>
    </a>

  </nav>


  <div class="sidebar-bottom">

    <a class="menu-item">
      <i class="fa-solid fa-arrow-left"></i>
      <span>Back to Store</span>
    </a>

    <a class="menu-item logout">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
    </a>

  </div>

</aside>
