<div *ngIf="!game" class="text-center justify-center text-gray-400">
  Loading...
</div>


<main *ngIf="game">

  <section class="hero">
    <img
      [src]="getGameImageCover(game)"
      alt="Game cover"
      class="hero-image"
    />
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>{{ game.title }}</h1>
      <div class="tags">
         <span *ngFor="let genre of game.genres">
      {{ genre.name }}
        </span>
        <span [ngStyle]="{'background-color': game.ageRating.ageRatingColor}">
      {{ game.ageRating.ageRating }} </span>
      </div>
    </div>
  </section>

  <section class="main-grid">
    <div class="description card">
      <h2>About this game</h2>
      <p>
        {{game.description}}
      </p>
    </div>
    <div class="purchase card">
      <h2>{{game.title}}</h2>
      <div class="details">
        <div>
          <span>Developer</span>
          <b>{{game.developer}}</b>
        </div>

        <div>
          <span>Publisher</span>
          <b>{{game.publisher}}</b>
        </div>

        <div>
          <span>Release Date</span>
          <b>{{game.releaseYear}}</b>
        </div>
      </div>

      <div class="price">

        <h1 class="old-price" style="font-size: 30px">{{game.price}} €</h1>
        <div class="badge owned-badge">
          -30% get discount
        </div>
        <h1 style="margin-left: 10px;font-size: 30px">14.99 €</h1>
      </div>

      <div class="purchase-actions">

        <div class="purchase-row">

          <button
            *ngIf="!gameIsOwned"
            (click)="buyGame(game.gameId)"
            class="buy">
            Buy Now
            <i class="fa-solid fa-cart-shopping"></i>
          </button>

          <button
            *ngIf="!gameIsOwned && !gameInWishList"
            (click)="addGameToWishList(game.gameId)"
            class="wishlist">
            <i class="fa-regular fa-heart"></i>
          </button>

          <button
            *ngIf="gameInWishList && !gameIsOwned"
            (click)="removeGameFromWishList(game.gameId)"
            class="remove">
            <i class="fa-solid fa-heart"></i>
          </button>

          <button
            *ngIf="gameIsOwned"
            class="in-library">
            In Library 🎮
          </button>

        </div>



        <hr>

        <button class="gift">
          Gift this Game
          <i class="fa-solid fa-gift"></i>
        </button>

      </div>

    </div>

  </section>

  <section class="card requirements">
    <h2>System Requirements</h2>
    <div class="requirements-grid">
      <div>
        <span>CPU</span>
        <p>{{game.systemRequirements.cpu}}</p>
      </div>

      <div>
        <span>GPU</span>
        <p>{{game.systemRequirements.gpu}}</p>
      </div>

      <div>
        <span>RAM</span>
        <p>
          {{game.systemRequirements.ram}}
        </p>
      </div>

      <div>
        <span>Storage</span>
        <p>
          {{game.systemRequirements.storage}}
        </p>
      </div>
    </div>
  </section>

  <section class="extra">
    <div class="card">
      <h3>Operation System</h3>
      <div class="small-tags">
        <span *ngFor="let platform of game.platforms">{{ platform.platformName }}</span>
      </div>
    </div>

    <div class="card">
      <h3>Languages</h3>
      <div class="small-tags">
        <span *ngFor="let language of game.languages">{{ language.languageName }}</span>
      </div>
    </div>

    <div class="card">
      <h3>Subtitles</h3>
      <div class="small-tags">
        <span *ngFor="let subtitles of game.subtitles">{{ subtitles.subtitleName }}</span>
      </div>
    </div>

  </section>

  <section class="card reviews">

    <button>View All Reviews on other side from reviews (in reviews page filter based on positive/negative reviews)</button>
    <div class="card-header">
      <h2>Reviews</h2>
      <button class="review-button">
        <i class="fa-solid fa-pen"></i>
        Write a review
      </button>
    </div>



    <div class="rating-summary">

      <div class="overall-rating">
        <h1>4.8</h1>
        <div class="stars">
          ★★★★★
        </div>
        <span>235 reviews</span>
      </div>


      <div class="rating-info">

        <div>
          <span>Positive</span>
          <div class="progress">
            <div style="width:90%"></div>
          </div>
        </div>


        <div>
          <span>Negative</span>
          <div class="progress">
            <div style="width:10%"></div>
          </div>
        </div>

      </div>

    </div>


    <div class="review-item">
      <img src="assets/profilePicture/default_profile_picture.svg">
      <div>
        <h3>PlayerName</h3>
        <div class="stars">
          ★★★★☆
        </div>

        <p>
          Great game. The world and gameplay are amazing.
        </p>

        <small>
          Played 42 hours
        </small>

      </div>

    </div>


  </section>

  <section class="card recommended-games">

    <h2>More like this (based on previewing game)</h2>
    <div class="recommended-grid">
      <div class="recommended-card relative">
        <div class="badges">
          <div class="badge owned-badge">
            -30% get discount
          </div>

        </div>
        <img src="assets/profilePicture/default_profile_picture.svg">
        <div>
          <h3>{{game.title}}</h3>
            <span class="old-price">{{game.price}} €</span>
            <span>29.99 € set discount price </span>
        </div>
      </div>
    </div>
  </section>

</main>
