@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
  font-family: 'MyFont';
  src: url('assets/fonts/RocknRollOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'MyFont', sans-serif;
}


.login-container{
  max-width: 800px !important;
  margin-top: 15px;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
  border-color: gray !important;
  box-shadow: none !important;
}

