@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@source "../node_modules/flowbite";

@font-face {
  font-family: 'MyFont';
  src: url('assets/fonts/RocknRollOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'MyFont', sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3B82F6;
  border-radius: 9999px;
  border: 2px solid #1F2937;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3B82F6 transparent;
}
