<main>

  <section>
    <div class="header">
      <h1>Wishlist <i class="fa-solid fa-bookmark"></i></h1>
      <app-user-actions/>
    </div>
  </section>

  <!-- SEARCH -->
  <section>
    <div class="search">
      <app-search-bar
        placeholder="Search your wishlisted games..."
        (search)="searchWishlistedGames()">
      </app-search-bar>
    </div>
  </section>

  <!-- FILTERS -->
  <section class="filter-bar">
    <div class="filter-header">
      <span>Filters</span>
      <button (click)="resetFilters()"> Reset <i class="fa-solid fa-rotate-right text-sm"></i></button>
    </div>

    <div class="filter-options">

      <div class="dropdown">
        <label>
          Genre
        </label>

        <button id="genreDropdownButton"
          data-dropdown-toggle="genreDropdown"
          type="button"
          class="dropdown-button"
          ><span>
          {{ filters.genre || 'All Genres' }}
        </span>
        <i class="fa-solid fa-chevron-down text-xs"></i>
      </button>

      <div id="genreDropdown" class="dropdown-select">
        <ul>
          <li>
            <button type="button"
              (click)="filters.genre = ''; changeFilter(); closeDropdown()"
              class="dropdown-option">
              All Genres
            </button>
          </li>
          @for (genre of allGenres; track genre) {
            <li>
              <button
                type="button"
                (click)="filters.genre = genre; changeFilter(); closeDropdown()"
                class="dropdown-option">
                {{ genre }}
              </button>
            </li>
          }
        </ul>
      </div>

    </div>

    <div class="dropdown">
      <label>
        Operation System
      </label>
      <button id="operationSystemDropdownButton"
        data-dropdown-toggle="operationSystemDropdown"
        type="button"
        class="dropdown-button"
        ><span>
        {{ filters.operationSystem || 'All Systems' }}
      </span>
      <i class="fa-solid fa-chevron-down text-xs"></i>
    </button>

    <div id="operationSystemDropdown" class="dropdown-select">
      <ul>
        <li>
          <button type="button"
            (click)="filters.operationSystem = ''; changeFilter(); closeDropdown()"
            class="dropdown-option">
            All Systems
          </button>
        </li>
        @for (operationSystem of allOperationSystems; track operationSystem) {
          <li>
            <button
              type="button"
              (click)="filters.operationSystem = operationSystem; changeFilter(); closeDropdown()"
              class="dropdown-option">
              {{ operationSystem }}
            </button>
          </li>
        }
      </ul>
    </div>
  </div>


  <div class="checkbox">
    <label>
      Discount
    </label>

    <input
      type="checkbox"
      id="discount-option"
      [(ngModel)]="filters.discount"
      (change)="changeFilter()"
      class="hidden peer">
      <label
        for="discount-option"
        class="checkbox-label">
        <div class="checkbox-content">
          <i class="fa-solid fa-tag"></i>
          <span>Discount</span>
        </div>
      </label>
    </div>


    <div class="dropdown sort-right sort-dropdown">
      <label>Sort by</label>
      <button id="sortDropdownButton"
        data-dropdown-toggle="sortDropdown"
        type="button"
        class="dropdown-button"
        ><span>
        {{ selectedSortLabel }}
      </span>
      <i class="fa-solid fa-chevron-down text-xs"></i>
    </button>

    <div id="sortDropdown" class="dropdown-select">
      <ul>
        @for (sortOption of sortOptions; track sortOption) {
          <li>
            <button
              type="button"
              (click)="sortBy = sortOption.value; changeSort(); closeDropdown()"
              class="dropdown-option">
              {{ sortOption.label }}
            </button>
          </li>
        }
      </ul>
    </div>
  </div>


</div>
</section>

@if (wishlistPageResponse.totalElements === 0 && !isLoading) {
  <app-empty-state
    icon='fa-solid fa-box-open'
    [title]="hasActiveFilters ? 'No games found' : 'No games available'"
    [message]="hasActiveFilters
    ? 'There are no games matching the selected filters. Try changing or resetting your filters.'
    : 'There are currently no games in the store.'">
  </app-empty-state>
}

<!-- GAMES -->
<section class="games-cards">

  @if (isLoading) {
    <app-loading/>
  }

  @for (wishlist of filteredGames; track wishlist) {
    <div class="card relative"
      (click)="goToGame(wishlist.game?.gameId)">
      <img [src]="getGameImageCover(wishlist.game!)" alt="{{wishlist.game?.title}}">
      <div class="badges">
        <div class="small-badge trending">
          <i class="fa-solid fa-fire"></i>
          Trending
        </div>
        @if (wishlist.game?.discountPercent! > 0) {
          <div class="small-badge discount">
            -{{ wishlist.game?.discountPercent }} %
          </div>
        }
      </div>
      <div class="wishlist-card-content">
        <div class="flex justify-between">
          <h3>{{ wishlist.game?.title }}</h3>
          <span class="added-at">
            Added {{ wishlist.addedAt | date:'dd.MM.yyyy' }}
          </span>
        </div>
        <p>
          @for (genre of wishlist.game?.genres?.slice(0, 2); track genre; let last = $last) {
            <span>
              {{ genre.name }}@if (!last) {
              <span>&nbsp; • &nbsp;</span>
            }
          </span>
        }
      </p>
    </div>
    <div class="info">
      @if (wishlist.game?.discountPercent! > 0) {
        <div class="price ml-auto">
          <span class="current-price" [ngClass]="{ 'free-price' : wishlist.game?.discountPercent === 100}">{{
            wishlist.game?.discountPercent === 100
            ? 'Free'
            : wishlist.game?.discountPrice + ' €'
            }}
          </span>
          <div class="price-info">
            <span class="old-price">{{ wishlist.game?.price }} €</span>
          </div>
        </div>
      }
      @if (!wishlist.game?.discountPercent!) {
        <div class="price ml-auto">
          <span class="current-price" [ngClass]="{ 'free-price' : wishlist.game?.price === 0}">{{
            wishlist.game?.price === 0
            ? 'Free'
            : wishlist.game?.price + ' €'
          }} </span>
        </div>
      }
    </div>
    <div class="wishlist-buttons">
      @if (!wishlist.game?.inCart) {
        <button class="big-button add-to-cart"
          (click)="addToCart(wishlist.game?.gameId) ; $event.stopPropagation()">
          Add to Cart <i class="fa-solid fa-cart-shopping"></i>
        </button>
      }
      @if (wishlist.game?.inCart) {
        <button class="big-button in-cart">
          In Cart <i class="fa-solid fa-check"></i>
        </button>
      }
      <button class="big-button remove" (click)="removeGameFromWishList(wishlist.game?.gameId); $event.stopPropagation()">
        Remove <i class="fa-solid fa-bookmark"></i>
      </button>
    </div>
  </div>
}

</section>

@if (filteredGames.length && wishlistPageResponse.totalPages! > 1) {
  <app-pagination
    [currentPage]="page"
    [totalPages]="wishlistPageResponse.totalPages!"
    (pageChange)="changePage($event)">
  </app-pagination>
}
</main>
