<div *ngIf="!isLoaded" class="text-center justify-center text-gray-400">
  Loading...
</div>



<main [class.hidden]="!isLoaded">

  <section>
    <div class="header">
      <h1>My Wishlist</h1>
      <button class="relative cursor-pointer">
        🔔
        <span class="absolute -top-1 -right-2 bg-red-600 text-white text-xs font-bold
        rounded-full w-5 h-5 flex items-center justify-center"> 1 </span>
      </button>
    </div>
  </section>

  <!-- SEARCH -->
  <section>
    <div>
      <app-search-bar
        placeholder="Search your wishlisted games..."
        (search)="searchWishlistedGames()">
      </app-search-bar>
    </div>
  </section>

  <!-- FILTERS -->
  <section class="filter-bar">
    <div class="filter-header">
      <span>Filters</span>
      <button (click)="resetFilters()"> Reset <i class="fa-solid fa-rotate-right text-sm"></i></button>
    </div>

    <div class="filter-options">
      <div class="dropdown">
        <label>Genre</label>
        <select [(ngModel)]="filters.genre" (change)="filterGames()">
          <option value="">All Genres</option>
          <option *ngFor="let genre of allGenres" [value]="genre">{{ genre }}</option>
        </select>
      </div>

      <div class="dropdown">
        <label>Platform</label>
        <select [(ngModel)]="filters.platform" (change)="filterGames()">
          <option value="">All Platforms</option>
          <option *ngFor="let platform of allPlatforms" [value]="platform">{{ platform }}
          </option>
        </select>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Discount
        </label>
      </div>

      <!--      TODO ON SALE CHECKBOX-->
      <!--      <div class="checkbox">-->
      <!--        <label>-->
      <!--          <input type="checkbox"-->
      <!--           [(ngModel)]="filters.onSale"-->
      <!--           (change)="filterGames()"-->
      <!--          > Discount-->
      <!--        </label>-->
      <!--      </div>-->

      <div class="dropdown push-right">
        <label>Sort by</label>
        <select>
          <option value="">Recently Added</option>
          <option value="price low to high"> Price low</option>
          <option value="price high to low"> Price high</option>
        </select>
      </div>

    </div>
  </section>

  <!-- GAMES -->
  <section class="games">
    <div class="card relative" *ngFor="let wishlist of wishlistPageResponse.content"
         (click)="goToGame(wishlist.game?.gameId)">
      <img [src]="getGameImageCover(wishlist.game!)" alt="{{wishlist.game?.title}}">
      <div class="card-content">
        <h3>{{ wishlist.game?.title }}</h3>
        <p>
      <span *ngFor="let genre of wishlist.game?.genres?.slice(0, 2); let last = last">
        {{ genre.name }}<span *ngIf="!last">&nbsp; • &nbsp;</span>
      </span>
        </p>
      </div>
      <div class="price">
        <span class="current-price">29.99 € set discount price</span>

        <div class="price-info">
          <span class="old-price">{{ wishlist.game?.price }} €</span>
          <span class="discount">-40%</span>
        </div>
      </div>
      <div class="buttons">
        <button class="buy">
          Buy <i class="fa-solid fa-cart-shopping"></i> -> redirect user to fill invoice form
        </button>
        <button class="remove" (click)="removeGameFromWishList(wishlist.game?.gameId); $event.stopPropagation()">
           Remove <i class="fa-solid fa-heart-broken"></i>
        </button>
      </div>
    </div>

  </section>

  <div *ngIf="emptyWishlist" class="flex flex-col items-center justify-center h-60text-gray-400">
    <i class="fa-solid fa-box-open text-4xl mb-4"></i>
    <p class="text-lg font-semibold">Your wishlist is empty</p>
    <p class="text-sm text-gray-400 mt-1">Start adding some games to see them here!</p>
  </div>

</main>
