@if (!isLoaded) {
  <div class="text-center justify-center text-gray-400">
    Loading...
  </div>
}

@if (isGameInfoModalOpen && selectedGame) {
  <app-game-info
    [game]="selectedGame"
    (close)="closeModal()">
  </app-game-info>
}

@if (isGameDeleteModalOpen) {
  <app-delete-game-modal
    [game]="selectedGame"
    (close)="closeModal()"
    (deleted)="loadGamesTableData()">
  </app-delete-game-modal>
}

@if (isAddGameModalOpen) {
  <app-add-game-modal
    (close)="closeModal()"
    (gameAdded)="showSuccess($event)">
  </app-add-game-modal>
}

@if (isEditGameModalOpen) {
  <app-edit-game-modal
    [game]="selectedGame"
    (close)="closeModal()"
    (gameEdited)="showSuccess($event)">
  </app-edit-game-modal>
}


<div class="fixed top-4 right-4 flex flex-col gap-2 z-50">
  @if (successMessage) {
    <div
       class="bg-green-600 text-white px-4 py-2 rounded-lg shadow-lg min-w-[250px]
              transform transition-transform duration-500 ease-in-out opacity-0"
      [ngClass]="{'translate-x-0 opacity-100': toastVisible, 'translate-x-24 opacity-0': !toastVisible}">
      {{ successMessage }}
    </div>
  }
</div>

<main [class.hidden]="!isLoaded">
  <section class="games-page">
    <div class="page-header">
      <div>
        <h1>All Games</h1>
        <p>Manage all games in your store</p>
      </div>
    </div>

    <div class="toolbar">
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; gap: 15px">
          <app-search-bar
            placeholder="Search games..."
            (search)="searchGames($event)">
          </app-search-bar>

          <div class="checkbox">
            <label>
              <input type="checkbox"> Discount
            </label>
          </div>
        </div>

        <div>
          <button (click)="addGame()" class="add-game-btn">
            <i class="fa-solid fa-plus"></i>
            Add Game
          </button>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Cover</th>
            <th>Name</th>
            <th>Original Price</th>
            <th>Discounted Price</th>
            <th>Discount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (game of gamesResponse.content; track game) {
            <tr>
              <td>
                <img [src]="getGameImageCover(game)" alt="{{game.title}}}">
              </td>
              <td>{{ game.title }}</td>
              <td [ngClass]="{'free-price' : game.price === 0}">{{ game.price! > 0 ? (game.price + ' €'): 'Free' }} </td>
              <td [ngClass]="{'free-price' : game.discountPercent === 100}">{{ game.discountPercent === 100 ? 'Free' : game.discountPrice! > 0 ? (game.discountPrice + ' €') : '' }}</td>
              <td>
                @if (game.discountPercent! > 0) {
                  <span class="discount">
                    - {{ game.discountPercent }} %
                  </span>
                }
              </td>
              <td>
                <button class="action edit">
                  <i class="fa-solid fa-pen" (click)="loadGameDataEditModal(game.gameId)"></i>
                </button>
                <button class="action view" (click)="getGameInfo(game.gameId)">
                  <i class="fa-solid fa-eye"></i>
                </button>
                <button class="action delete" (click)="deleteGame(game)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>

    </div>

  </section>

</main>
