<main>
  <div class="auth-page">

    <div class="auth-container">

      <!-- LEFT SIDE -->
      <section class="auth-form">

        <div class="logo">
          <img src="assets/images/gamehub-logo.png" class="w-50 h-50"
               alt="GameHub Logo"/>
        </div>

        <!--        <span class="text-[#FB5F1E]">Game</span><span class="text-[#40D1D8]">Hub</span>-->
        <h1>Welcome to <span class="text-[#FB5F1E] font-bold">Game</span><span
          class="text-[#40D1D8] font-bold">Hub</span></h1>

        <p class="subtitle">
          Register to get access to hundreds of games
        </p>

        @if (errorMessage) {
          <div class="error">
            {{ errorMessage }}
          </div>
        }

        @if (successMessage) {
          <div class="success">
            {{ successMessage }}
          </div>
        }

        <form>

          <div class="input-group">
            <i class="fa-solid fa-user"></i>
            <input [(ngModel)]="registerRequest.firstName"
                   type="text"
                   name="firstName"
                   id="firstName"
                   placeholder="First Name"/>
          </div>

          <div class="input-group">
            <i class="fa-solid fa-user-tag"></i>
            <input [(ngModel)]="registerRequest.lastName"
                   type="text"
                   name="lastName"
                   id="lastName"
                   placeholder="Last Name"/>
          </div>

          <div class="input-group">
            <i class="fa-solid fa-id-badge"></i>
            <input [(ngModel)]="registerRequest.username"
                   type="text"
                   name="userName"
                   id="userName"
                   placeholder="Username"/>
          </div>

          <div class="input-group">
            <i class="fa-solid fa-envelope"></i>
            <input [(ngModel)]="registerRequest.email"
                   type="email"
                   name="email"
                   placeholder="Email"/>
          </div>

          @if (childAccount) {
            <div class="input-group">
              <i class="fa-solid fa-envelope"></i>
              <input [(ngModel)]="registerRequest.parentEmail"
                     type="email"
                     name="parentEmail"
                     placeholder="Parent email"/>
            </div>
          }

          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input [(ngModel)]="registerRequest.password"
                   type="password"
                   name="password"
                   placeholder="Password"/>
          </div>

          <div class="options">
            <label>
              <input type="checkbox" id="childAccount" name="childAccount" (click)="createChildAccount()"
                     [(ngModel)]="registerRequest.childAccount">
              Create a child account
            </label>
          </div>

          <button
            type="submit"
            (click)="register()"
            class="register-btn">
            Register
            <i class="fa-solid fa-user-plus"></i>
          </button>

          <p class="have-account-text">
            Already have an account?
            <button type="button" (click)="login()">
              Login
            </button>
          </p>

        </form>

      </section>

      <!-- RIGHT SIDE -->
      <section class="astronaut">

        <img ngSrc="assets/images/astronaut_logIn.svg"
             alt="Astronaut"
             width="700"
             height="700"/>

      </section>
    </div>
  </div>
</main>
