input[hlmInputGroupInput],
input[hlmInputGroupInput]:-webkit-autofill,
input[hlmInputGroupInput]:-webkit-autofill:hover,
input[hlmInputGroupInput]:-webkit-autofill:focus,
input[hlmInputGroupInput]:-webkit-autofill:active {
  color: white !important;
  caret-color: white !important;
  -webkit-text-fill-color: white !important;

  background: #151C2B !important;
  background-color: #151C2B !important;
  background-image: none !important;

  -webkit-box-shadow: 0 0 0 1000px #151C2B inset !important;
  box-shadow: 0 0 0 1000px #151C2B inset !important;

  color-scheme: dark !important;
}

input[hlmInputGroupInput]::placeholder {
  color: #596579 !important;
  -webkit-text-fill-color: #596579 !important;
  opacity: 1 !important;
}
