<div class="min-h-screen bg-gradient-to-b from-[#090C2D] to-[#1D2793] flex items-center justify-center p-4">
  <div class="w-full max-w-6xl flex flex-col md:flex-row overflow-hidden justify-center">


    <div class="w-full md:w-[55%] p-8 justify-center">
      <img ngSrc="joystick.png" alt="GameHub Logo" class="w-20 h-20 mx-auto mb-4" width="20" height="20"/>
      <h3 class="text-[3em] font-semibold text-white text-center mb-5">Welcome</h3>
      <h3 class="text-[1em] font-semibold text-[#76849D] text-center mb-5">Register to get access to hundreds of games </h3>

      <div *ngIf="errorMessage" class="text-sm text-center mb-5">
        <p style="color:red">{{ errorMessage }}</p>
      </div>

      <div *ngIf="successMessage" class="text-sm text-red- text-center mb-5">
        <p style="color:green">{{ successMessage }}</p>
      </div>

      <form class="space-y-5 w-[25em] mx-auto" >
          <div>
            <input [(ngModel)]="registerRequest.firstName" type="text" id="firstName" name="firstName" placeholder="First Name"
                   class="form-control w-[25em] border rounded-xl px-4 py-3 focus:ring-transparent bg-transparent text-white border-[#76849D]" />
          </div>
          <div>
            <input [(ngModel)]="registerRequest.lastName" type="text" name="lastName" id="lastName" placeholder="Last Name"
                   class=" form-control w-[25em] border rounded-xl px-4 py-3 focus:ring-transparent bg-transparent text-white border-[#76849D]" />
          </div>

          <div>
            <input [(ngModel)]="registerRequest.username" type="text" name="username" id="userName" placeholder="Username"
                   class=" form-control w-[25em] border rounded-xl px-4 py-3 focus:ring-transparent bg-transparent text-white border-[#76849D]" />
          </div>

          <div>
            <input [(ngModel)]="registerRequest.email" type="email" name="email" id="email" placeholder="Email"
                   class=" form-control w-[25em] border rounded-xl px-4 py-3 focus:ring-transparent bg-transparent text-white border-[#76849D]" />
          </div>

          <div *ngIf="childAccount">
            <input [(ngModel)]="registerRequest.parentEmail"
                   type="email"
                   name="parentEmail"
                   placeholder="Parent email"
                   class="form-control w-[25em] border rounded-xl px-4 py-3 bg-transparent text-white border-[#76849D]" />
          </div>

          <div>
            <input [(ngModel)]="registerRequest.password" type="password" name="password" id="password" placeholder="Password"
                   class=" form-control w-[25em] border rounded-xl px-4 py-3 focus:ring-transparent bg-transparent text-white border-[#76849D]" />
          </div>

        <div class="flex items-center gap-2 mt-2" >
          <input type="checkbox"
                 id="childAccount"
                 name="childAccount"
                 (click)="createChildAccount()"
                 [(ngModel)]="registerRequest.childAccount" />

          <label for="childAccount" class="text-[#76849D]">Create a child account</label>
        </div>
        <div class="space-y-2">
          <button (click)="register()" type="submit"
                  class="w-full bg-[#1947C0] text-white rounded-[10px] py-2 hover:bg-blue-700 transition cursor-pointer">
            Register
          </button>
          <h3 class="text-[1em] text-[#76849D] text-center">Already have an account?
            <button (click)="login()" type="button" class="text-[#2749AB] hover:underline cursor-pointer bg-transparent border-none outline-none p-0">Sign in
            </button>
          </h3>
        </div>

      </form>
    </div>


    <div class="hidden md:block md:w-[45%] ml-10">
      <img ngSrc="assets/images/astronaut_register.svg" alt="Astronaut" class="w-120 h-full" height="1122"
           width="793" />
    </div>

  </div>
</div>
