<main class="min-h-screen bg-[#0B0F14] text-white">
  <div class="flex min-h-screen items-center justify-center p-6">
    <div class="w-full max-w-md rounded-3xl border border-[#242a38] bg-[#151923] px-10 py-12 shadow-2xl">

      <h1 class="text-center text-4xl font-bold tracking-tight">Reset Password</h1>
      <p class="mt-2 text-center text-[#76849D]">Create a new password for your account.</p>

      @if (errorMessage) {
        <div class="mt-6 rounded-xl border border-red-500/20 bg-red-500/10 px-4 py-3 text-sm text-red-400">
          {{ errorMessage }}
        </div>
      }

      @if (errorMessage) {
        <div class="mt-6 rounded-xl border border-red-500/20 bg-red-500/10 px-4 py-3 text-sm text-red-400">
          {{ errorMessage }}
        </div>
      }

      @if (successMessage) {
        <div class="mt-6 rounded-xl border border-green-500/20 bg-green-500/10 px-4 py-3 text-sm text-green-400">
          {{ successMessage }}
        </div>
      }

      <form class="mt-8 space-y-3">

        <hlm-input-group class="
          !h-auto !rounded-lg !border-[#2A3445] !bg-[#151C2B]
          !outline-none !ring-0 focus-within:!border-[#155dfc]
          focus-within:!outline-none focus-within:!ring-0">
          <input
            hlmInputGroupInput
            type="password"
            name="password"
            placeholder="New Password"
            [(ngModel)]="password"
            class="!py-5 !text-white placeholder:!text-[#596579] mb-1"/>
          <hlm-input-group-addon>
            <i class="fa-solid fa-lock"></i>
          </hlm-input-group-addon>
          <hlm-input-group-addon align="inline-end">
            <button
              hlmInputGroupButton
              class="hover:bg-transparent hover:text-[#737373]"
              [hlmTooltip]="'Password must be at least 6 characters'"
              aria-label="Info"
              size="icon-xs"
            >
              <i class="fa-solid fa-info-circle"></i>
            </button>
          </hlm-input-group-addon>
        </hlm-input-group>

        <hlm-input-group class="
          !h-auto !rounded-lg !border-[#2A3445] !bg-[#151C2B]
          !outline-none !ring-0 focus-within:!border-[#155dfc]
          focus-within:!outline-none focus-within:!ring-0">
          <input
            hlmInputGroupInput
            type="password"
            name="confirmPassword"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            class="!py-5 !text-white placeholder:!text-[#596579] mb-1"/>
          <hlm-input-group-addon>
            <i class="fa-solid fa-lock"></i>
          </hlm-input-group-addon>
          <hlm-input-group-addon align="inline-end">
            <button
              hlmInputGroupButton
              class="hover:bg-transparent hover:text-[#737373]"
              [hlmTooltip]="'Password must be at least 6 characters'"
              aria-label="Info"
              size="icon-xs"
            >
              <i class="fa-solid fa-info-circle"></i>
            </button>
          </hlm-input-group-addon>
        </hlm-input-group>

        <button
          type="submit"
          (click)="resetPassword()"
          class="big-btn-w-full save">
          Reset Password
          <i class="fa-solid fa-arrow-right"></i>
        </button>

        <p class="pt-2 text-center text-sm text-[#76849D]">
          Need a new reset link?
          <button
            type="button"
            (click)="forgotPassword()"
            class="ml-1 cursor-pointer font-medium text-[#155dfc] hover:text-white">
            Send Again
          </button>
        </p>
      </form>
    </div>
  </div>
</main>
