<main>
  <section>
    <div class="auth-page">
      <div class="auth-container reset-container">

        <div class="auth-form">
          <h1>
            Reset Password
          </h1>

          <p class="subtitle">
            Create a new password for your account.
          </p>

          <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
          </div>

          <div *ngIf="successMessage" class="success">
            {{ successMessage }}
          </div>

          <form (ngSubmit)="resetPassword()">

            <div class="input-group">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                id="password"
                name="password"
                [(ngModel)]="password"
                required
                minlength="6"
                placeholder="New Password">
            </div>

            <div class="input-group">
              <i class="fa-solid fa-lock"></i>

              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                required
                placeholder="Confirm Password">
            </div>

            <button
              type="submit"
              class="login-btn">
              Reset Password
              <i class="fa-solid fa-key"></i>
            </button>

          </form>

          <p class="register-text">
            Need a new reset link?
            <button
              type="button"
              (click)="forgotPassword()">
              Send Again
            </button>
          </p>

        </div>

      </div>

    </div>
  </section>
</main>
