<div class="flex w-screen h-screen">
  <div class="w-[18.2em] bg-[#1E2A4A]/60 backdrop-blur-md px-3 pt-10 pb-5 flex flex-col shadow-lg border-r border-white/10">
    <div class="text-[2.75rem] whitespace-nowrap text-center font-bold text-white tracking-wide">
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-300 to-purple-400">Game-Hub</span>
      <div class="border-b border-white/30 w-60 mt-5 mx-auto"></div>
    </div>

    <!-- Store -->
    <div class="menu-item text-[20px] mt-6 px-4 flex items-center gap-3"
         routerLink="/gamehub" [class.active]="isStoreActive">
      <i class="fa-solid fa-shopping-cart"></i>
      <a>Store</a>
    </div>

    <!-- Library -->
    <div class="menu-item text-[20px] mt-4 px-4 flex items-center gap-3"
         routerLink="/gamehub/library" [class.active]="isLibraryActive">
      <i class="fa-solid fa-gamepad"></i>
      <a>Library</a>
    </div>

    <!-- Wishlist -->
    <div class="menu-item text-[20px] mt-4 px-4 flex items-center gap-3"
         routerLink="/gamehub/wishlist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-heart"></i>
      <a>Wishlist</a>
    </div>

    <!-- Community -->
    <div class="menu-item text-[20px] mt-4 px-4 flex items-center gap-3"
         routerLink="/gamehub/community" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-earth"></i>
      <a>Find User</a>
    </div>

    <div class="border-b border-white/20 w-60 mt-6 mx-auto"></div>

    <!-- Discounts -->
    <div class="menu-item text-[20px] mt-4 px-4 flex items-center gap-3"
         routerLink="/gamehub/discounts" routerLinkActive="active">
      <i class="fa-solid fa-percent"></i>
      <a>Discounts</a>
    </div>

<!--    TODO WALLET ADD FUNDS,..-->
    <div class="menu-item text-[20px] mt-4 px-4 flex items-center gap-3"
         routerLink="/gamehub/wallet" routerLinkActive="active">
      <i class="fa-solid fa-wallet"></i>
      <a>Wallet</a>
    </div>



    <!-- Friend Requests -->
    <div class="menu-item text-[20px] mt-4 px-4 flex items-center gap-3"
         routerLink="/gamehub/friend-requests" routerLinkActive="active">
      <i class="fa-solid fa-user-plus"></i>
      <a>Friend Requests</a>
    </div>

    <div class="border-b border-white/20 w-60 mt-6 mx-auto"></div>

    <!-- Friends -->
    <div class="menu-item mt-auto text-[20px] px-4 flex items-center gap-3"
         routerLink="/gamehub/friends" routerLinkActive="active">
      <i class="fa-solid fa-users"></i>
      <a>Friends</a>
    </div>
  </div>


  <div class="grow min-h-screen">
    <div class="fixed top-0 left-[18.2em] right-7 z-10 bg-transparent backdrop-blur-sm pt-3 pb-2">
      <form class="flex justify-end items-center gap-4">
        <div *ngIf="!_isGameDetailsActive" class="relative w-1/4 me-4">
          <input
            type="text"
            id="search"
            class="block w-full pl-12 p-2.5 text-sm text-white bg-transparent rounded-lg placeholder-white border"
            placeholder="Search..."
            required
          />

          <div class="absolute left-0 top-0 h-full px-3 text-white flex items-center justify-center">
            <i class="fas fa-search"></i>
            <span class="sr-only">Search</span>
          </div>

        </div>

        <div class="flex items-center justify-center w-10 h-10">
          <i class="fa-solid fa-shopping-cart text-2xl cursor-pointer" (click)="goToCart()"></i>
        </div>
        <div class="flex items-center justify-center w-10 h-10">
          <i class="fa-solid fa-bell text-2xl cursor-pointer" (click)="showNotifications()"></i>

        </div>
        <!--      <div class="flex items-center justify-center cursor-pointer" (click)="showNotifications()">-->
        <!--        Username of user-->
        <!--      <div class="flex items-center justify-center w-10 h-10">-->
        <!--        <mat-icon class="text-white " >person</mat-icon>-->
        <!--      </div>-->

        <!--      </div>-->

        <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
          <span class="sr-only">Open user menu</span>
          Bonnie Green
<!--          <img class="w-8 h-8 me-2 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">-->

          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdownAvatarName" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
          <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div class="font-medium ">Pro User</div>
            <div class="truncate">flowbite.com</div>
          </div>
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
            <li>
              <a aria-current="page" routerLink="/login">Library</a>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
            </li>
          </ul>
          <div class="py-2">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
