.sidebar-button {
  font-size: 1rem;
  height: 35px !important;
}

.sidebar-button i {
  display: flex;
  width: 20px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.sidebar-button.active {
  background: #1A2231;
  color: #4da3ff;
}
