<div hlmSidebarWrapper>
  <hlm-sidebar collapsible="icon" class="!bg-[#151923]">
    <hlm-sidebar-header class="!flex !h-auto !items-center !justify-between !px-2 !pt-2 group-data-[collapsible=icon]:!flex-col-reverse group-data-[collapsible=icon]:!mb-2">

      <div class="flex min-w-0 items-center hover:cursor-pointer group-data-[collapsible=icon]:!justify-center"
           [routerLink]="['/gamehub/store']"
           [queryParams]="{ page: 1, discount: false }">
        <img
          src="../../../../../assets/images/gamehub-logo.png" class="w-20 h-20 group-data-[collapsible=icon]:!h-8 group-data-[collapsible=icon]:!w-8">

        <span class="text-2xl shrink-0 font-bold group-data-[collapsible=icon]:hidden">
        <span class="text-[#FB5F1E]">Game</span><span class="text-[#40D1D8]">Hub</span>
        </span>
      </div>

      <button hlmSidebarTrigger class="text-gray-400 hover:bg-[#26334a] hover:text-[#4da3ff] hover:cursor-pointer">
        <i class="fa-solid fa-bars"></i>
      </button>

    </hlm-sidebar-header>

    <hlm-sidebar-content>
      <div class="group-data-[collapsible=icon]:hidden !px-3 !pb-2 text-sm font-semibold text-gray-400">
        STORE
      </div>

      <ul hlmSidebarMenu class="gap-2">
        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Store"
            [routerLink]="['/gamehub/store']"
            [queryParams]="{ page: 1, discount: false }"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', fragment: 'ignored', matrixParams: 'ignored'}"
            class="sidebar-button">
            <i class="fa-solid fa-store"></i>
            <span>Store</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Library"
            [routerLink]="['/gamehub/library']"
            routerLinkActive="active"
            class="sidebar-button">
            <i class="fa-solid fa-gamepad"></i>
            <span>Library</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Wishlist"
            [routerLink]="['/gamehub/wishlist']"
            [queryParams]="{ page: 1, discount: false}"
            [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', fragment: 'ignored', matrixParams: 'ignored'}"
            routerLinkActive="active"
            class="sidebar-button">
            <i class="fa-solid fa-bookmark"></i>
            <span>Wishlist</span>
          </button>
        </li>
      </ul>

      <div class="group-data-[collapsible=icon]:hidden !px-3 !pb-2 !pt-4 text-sm font-semibold text-gray-400">
        COMMUNITY
      </div>

      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Find Players"
            [routerLink]="['/gamehub/find-players']"
            [queryParams]="{ page: 1, lookingForTeammate: false, voiceChat: false }"
            routerLinkActive="active"
            class="sidebar-button">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Find Players</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Friends"
            [routerLink]="['/gamehub/friends']"
            routerLinkActive="active"
            class="sidebar-button">
            <i class="fa-solid fa-user-group"></i>
            <span>Friends</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Chats"
            [routerLink]="['/gamehub/chats']"
            routerLinkActive="active"
            class="sidebar-button"
            disabled>
            <i class="fa-solid fa-comments"></i>
            <span>Chats</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Groups"
            [routerLink]="['/gamehub/groups']"
            routerLinkActive="active"
            class="sidebar-button"
            disabled>
            <i class="fa-solid fa-users"></i>
            <span>Groups</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Celendar"
            [routerLink]="['/gamehub/calendar']"
            routerLinkActive="active"
            class="sidebar-button"
            disabled>
            <i class="fa-solid fa-calendar-alt"></i>
            <span>Calendar</span>
          </button>
        </li>

        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Friend Requests"
            [routerLink]="['/gamehub/friend-requests']"
            routerLinkActive="active"
            class="sidebar-button">
            <i class="fa-solid fa-user-plus"></i>
            <span>Friend Requests</span>
            @if (friendReqCount > 0 && !isLoading) {
              <span
                class="absolute right-1/5 flex h-5 min-w-5 -translate-y-1/2
               items-center justify-center rounded-full bg-red-600 px-1
               text-xs font-bold text-white
               group-data-[collapsible=icon]:right-0
               group-data-[collapsible=icon]:top-0
               group-data-[collapsible=icon]:translate-y-0
               group-data-[collapsible=icon]:h-4
               group-data-[collapsible=icon]:min-w-4
               group-data-[collapsible=icon]:px-0
           group-data-[collapsible=icon]:text-[10px]"
              >
        {{ friendReqCount }}
      </span>
            }
          </button>
        </li>
      </ul>

      <div class="group-data-[collapsible=icon]:hidden !px-3 !pb-2 !pt-4 text-sm font-semibold text-gray-400">
        ACCOUNT
      </div>

      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button
            hlmSidebarMenuButton
            tooltip="Settings"
            [routerLink]="['/gamehub/settings']"
            routerLinkActive="active"
            class="sidebar-button"
            disabled>
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
          </button>
        </li>
      </ul>

    </hlm-sidebar-content>

    <hlm-sidebar-footer>
      <div
        class="!mx-auto !flex !w-[calc(100%-24px)] cursor-pointer !items-center !gap-3 !rounded-xl bg-[#151923] border border-[#242a38] !p-3 group-data-[collapsible=icon]:!w-8 group-data-[collapsible=icon]:!h-8 group-data-[collapsible=icon]:!p-0 group-data-[collapsible=icon]:!justify-center"
        routerLink="/gamehub/user/me"
      >
        @if (!userHasProfilePicture) {
          <img
            src="../../../../../assets/profilePicture/default_profile_picture.svg"
            class="h-13 w-13 rounded-xl border border-black object-cover group-data-[collapsible=icon]:!rouned-[2px] group-data-[collapsible=icon]:!h-8 group-data-[collapsible=icon]:!w-8"
            [ngStyle]="{'background-color': userResponse.profileColor}"
          />
        }

        @if (userHasProfilePicture) {
          <img
            [src]="getProfilePicture(userResponse)"
            alt="not found"
            class="h-13 w-13 rounded-xl object-cover group-data-[collapsible=icon]:!rounded-[5px] group-data-[collapsible=icon]:!h-8 group-data-[collapsible=icon]:!w-8"
            width="1"
            height="1"
          />
        }
        <div class="min-w-0 group-data-[collapsible=icon]:hidden">
          <h4 class="truncate text-sm font-semibold text-white">
            {{ userResponse.username }}
          </h4>

          <div class="dropdown-small mt-1">
            <button
              class="dropdown-button-small flex cursor-pointer items-center gap-2 text-sm !bg-transparent "
              type="button"
              [hlmDropdownMenuTrigger]="statusMenu"
              align="start"
              (click)="$event.stopPropagation()">
          <span
            class="status-dot"
            [ngClass]="{
            'online': statusResponse.status === 'Online' || statusResponse.status === 'Playing',
            'offline': statusResponse.status === 'Offline',
            'away': statusResponse.status === 'Away'}"
          ></span>
              <span
                [ngClass]="{
                'online': statusResponse.status === 'Online' || statusResponse.status === 'Playing',
                'away': statusResponse.status === 'Away',
                'offline': statusResponse.status === 'Offline'}">
                {{ statusResponse.status === 'Playing' ? 'Online' : statusResponse.status }}
              </span>
              <i class="fa-solid fa-chevron-down text-xs text-gray-400"></i>
            </button>

            <ng-template #statusMenu>
              <hlm-dropdown-menu class="!w-30 !px-2 !py-1">
                @for (status of statuses; track status) {
                  <button
                    hlmDropdownMenuItem
                    type="button"
                    class="flex items-center gap-2 !px-2"
                    (click)="changeStatus(status)">
                  <span
                    class="status-dot"
                    [ngClass]="{
                      'online': status === 'Online',
                      'away': status === 'Away',
                      'offline': status === 'Offline'}">
                  </span>
                    <span>{{ status }}</span>
                  </button>
                }
              </hlm-dropdown-menu>
            </ng-template>

          </div>
        </div>
      </div>

      <button hlmSidebarMenuButton tooltip="Logout"
              class="sidebar-button !mb-5 hover:!bg-[#3B1D24] hover:!text-[#EF4444]" (click)="logoutUser()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </button>
    </hlm-sidebar-footer>
  </hlm-sidebar>
</div>
