<app-report-user-modal
  [isOpen]="isReportUserModalOpen"
  [selectedUser]="selectedUserToReport"
  (close)="isReportUserModalOpen = false"
  (submit)="handleReport($event)">
</app-report-user-modal>

<main class="users-page">

  <!-- HEADER -->
  <section>
    <div class="header">
      <div>
        <h1>Find Players <i class="fa-solid fa-magnifying-glass"></i></h1>
        <p class="page-description">Search for players and add new friends</p>
      </div>
      <app-user-actions/>
    </div>
  </section>

  <!-- SEARCH -->
  <section>

    <div class="search !mb-2 w-full flex items-center space-x-3">
      <app-search-bar
        placeholder="Search users..."
        (search)="searchByUsername($event)">
      </app-search-bar>

      <div class="filter-options">

        <div class="dropdown">
          <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="countryMenu" align="start">
            <span> {{ filters.country || 'All Countries' }} </span>

            <i class="fa-solid fa-chevron-down text-xs"></i></button>

          <ng-template #countryMenu>
            <hlm-dropdown-menu>
              <button
                hlmDropdownMenuItem
                type="button"
                class="new-dropdown-option"
                (click)="filters.country = ''; changeFilter()">
                All Countries
              </button>

              @for (country of allCountries; track country) {
                <button
                  hlmDropdownMenuItem
                  class="new-dropdown-option"
                  type="button"
                  (click)="filters.country = country; changeFilter()">
                  {{ country }}
                </button>
              }
            </hlm-dropdown-menu>
          </ng-template>
        </div>

        <div class="dropdown">
          <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="platformMenu" align="start">
            <span> All platforms </span>

            <i class="fa-solid fa-chevron-down text-xs"></i></button>

          <ng-template #platformMenu>
            <hlm-dropdown-menu>
              <button hlmDropdownMenuItem>PC</button>
              <button hlmDropdownMenuItem>Xbox</button>
              <button hlmDropdownMenuItem>PS</button>
              <button hlmDropdownMenuItem>Mobile</button>
            </hlm-dropdown-menu>
          </ng-template>
        </div>

        <div class="dropdown">
          <button class="dropdown-button" type="button" [hlmDropdownMenuTrigger]="voiceChatMenu" align="start">
            <span> Voice chat </span>

            <i class="fa-solid fa-chevron-down text-xs"></i></button>

          <ng-template #voiceChatMenu>
            <hlm-dropdown-menu>
              <button hlmDropdownMenuItem>Uses voice chat</button>
              <button hlmDropdownMenuItem>Voice optional</button>
              <button hlmDropdownMenuItem>No voice chat</button>
            </hlm-dropdown-menu>
          </ng-template>
        </div>

        <div class="checkbox">
          <input
            type="checkbox"
            id="onlyonline-option"
            [(ngModel)]="filters.onlyOnline"
            (change)="changeFilter()"
            class="hidden peer">
          <label
            for="onlyonline-option"
            class="checkbox-label">
            <div class="checkbox-content">
              <span>Only online</span>
            </div>
          </label>
        </div>

        <button type="button" (click)="resetFilters()"
                class="cursor-pointer text-sm text-[#4DA3FF] hover:text-[#75B9FF] transition-colors "> Delete filters
        </button>
      </div>
    </div>

  </section>

  @if (filteredUsers.length === 0 && !isLoading) {
    <app-empty-state
      icon='fa-solid fa-sad-tear'
      title="No users were founded">
    </app-empty-state>
  }

  <div class="users-content">
  <section class="users-cards">

    @if (isLoading) {
      <app-loading/>
    }

    @for (user of filteredUsers; track user) {
      <div class="user-card" (click)="navigateToUser(user.userId)">

        <div class="find-player-top">

          <div class="user-main">
            @if (user.userProfilePicture) {
              <img
                [src]="getProfilePicture(user)"
                class="small-img"/>
            }
            @if (!user.userProfilePicture) {
              <div class="small-img items-center flex justify-center text-[#101521] text-xl"
                   [ngStyle]="{'background-color': user.profileColor}">
                {{ user.username!.slice(0, 2).toUpperCase() }}
              </div>
            }

            <div class="user-info">
              <div class="username">
                <h3>{{ user.username }}</h3>
                <img class="flag" [src]="user.country?.iconPath" alt="">
              </div>
              <span [ngClass]="{
          'online': user.status === 'Online' || user.status === 'Playing',
          'offline': user.status === 'Offline',
          'away': user.status === 'Away'
          }">• {{
                  user.status === 'Playing' ? 'In Game ' + user.currentlyPlaying?.title
                    : user.status
                }} </span>
            </div>
          </div>

          <div class="user-actions">
            @if (user.isFriend) {
              <button (click)="$event.stopPropagation()"
                      class="icon-button is-friend">
                <i class="fa-solid fa-user-group"></i>
              </button>
            }
            @if (user.friendRequestReceived) {
              <button
                (click)=" acceptFriendRequest(user.userId!) ; $event.stopPropagation()"
                class="icon-button accept">
                <i class="fa-solid fa-user-check"></i></button>
            }
            @if (user.friendRequestReceived) {
              <button
                (click)=" rejectFriendRequest(user.userId!) ; $event.stopPropagation()"
                class="icon-button remove">
                <i class="fa-solid fa-user-xmark"></i></button>
            }
            @if (user.friendRequestSent === false && user.isFriend === false && user.friendRequestReceived === false) {
              <button
                (click)="sendFriendRequest(user.userId!) ; $event.stopPropagation()"
                class="icon-button accept">
                <i class="fa-solid fa-user-plus"></i>
              </button>
            }
            @if (user.friendRequestSent) {
              <button
                (click)="cancelFriendRequest(user.userId!) ; $event.stopPropagation()"
                class="icon-button cancel-friend">
                <i class="fa-solid fa-user-clock"></i>
              </button>
            }
            <button (click)="openReportUserModal(user) ; $event.stopPropagation()"
                    class="icon-button report">
              <i class="fa-solid fa-exclamation"></i>
            </button>
          </div>
        </div>
          <div class="user-tags">
            <span class="user-tag">PC</span>
            <span class="user-tag"><i class="fa-solid fa-microphone"></i> Voice chat</span>
            <span class="user-tag"><i class="fa-solid fa-microphone-slash"></i> No voice chat</span>
            <span class="user-tag"> <i class="fa-solid fa-microphone"></i> Voice optional </span>
          </div>

          <div class="user-divider"></div>

        <div class="flex justify-between">
          <div class="user-meta">
            <span> <i class="fa-solid fa-user-group friends-count"></i> {{ user.friendsCount }}</span>
            <span> <i class="fa-solid fa-calendar joined-date"></i> {{ user.joinedDate }}</span>
          </div>
          <div class="flex gap-2">
            <span class="account-tag creator"> <i class="fa-regular fa-gem"></i> Creator</span>
            <span class="account-tag supporter"> <i class="fa-regular fa-heart text-sm"></i> Supporter</span>
          </div>
        </div>


      </div>
    }
  </section>
  <section class="pagination-wrapper">
  @if (filteredUsers.length && userCommunityResponse.totalPages! > 1) {
    <app-pagination
      [currentPage]="page"
      [totalPages]="userCommunityResponse.totalPages!"
      (pageChange)="changePage($event)">
    </app-pagination>
  }
  </section>
  </div>
</main>

<div class="fixed top-4 right-4 flex flex-col gap-2 z-50">
  @if (successMessage) {
    <div
      class="bg-green-600 text-white px-4 py-2 rounded-lg shadow-lg min-w-[250px]
              transform transition-transform duration-500 ease-in-out opacity-0"
      [ngClass]="{'translate-x-0 opacity-100': toastVisible, 'translate-x-24 opacity-0': !toastVisible}">
      {{ successMessage }}
    </div>
  }
</div>
