.header{
  display: flex;
  justify-content: space-between;
}

.header button{
  background: #171d29;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.header h1{
  font-size: 1.9rem;
}

.tabs{
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.tabs button{
  background: #1b2230;
  color: #aaa;
  padding: 10px 15px;
  border-radius: 10px;
  border: solid 1px #1b2230;
  cursor: pointer;
  transition:.2s;
}

.tabs button:hover{
  color: white;
}

.tabs .selected{
  background: #00bc7d1a;
  color: #00d492;
  border: #00bc7d 1px solid;
}

.tabs .selected:hover{
  color: #00d492;
}

.tabs .commingsoon{
  background: rgba(106, 114, 130, 0.25);
  color: #6a7282;
  border: 1px solid rgba(106, 114, 130, 0.35);
  cursor: default;
}

.tabs .commingsoon:hover{
  color: #6a7282;
}

.search{
  margin-bottom: 20px;
}

.games{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 25px;
}

.card{
  background: #151b27;
  padding-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover{
  transform:translateY(-8px);
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card h3{
  margin-top: 15px;
}

.card button{
  width:calc(100% - 40px);
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.card-content p{
  color: #4da3ff;
  margin: 10px 20px;
}

.card-content h3{
  margin-left: 20px;
}

.card-content small{
  color: #888;
  display: block;
  margin-bottom: 15px;
  margin-left: 20px;
}

.play-btn{
  background: #22C55E;
  color: white;
}

.play-btn:hover{
  background: #16A34A;
}

.stop-play-btn{
  background: #333d52;
  color: white;
}

.stop-play-btn:hover{
  background: #3F4B63;
}


.download-btn{
  background: #3B82F6;
  color: white;
}

.download-btn:hover{
  background: #2563EB;
}
